In [1]:
# 2017 KBO
def cal_x(arr):
    array = []
    for i in range(len(arr)):
        team_lst = []
        #if sum(arr[i][0:]) == 288:
        team = arr[i][0]
        g = arr[i][1] # 전체 게임 수
#         w = arr[i][2]
#         l = arr[i][4]
        rs = arr[i][5] # 득점
        ra = arr[i][6] # 실점
        wr = arr[i][7] # 승률
        team_lst.append(team)
        x = ((rs + ra)/g) ** 0.287
        team_lst.append(x)
        ewr = (rs ** x / (rs ** x + ra ** x)) # 기대 승률
        team_lst.append(ewr)
        team_lst.append(wr)
        array.append(team_lst)
    return array

In [2]:
arr = [['KIA', 144, 87, 1, 56, 906, 743, 0.608], # 경기수 승 무 패 득 실 승률
       ['두산', 144, 84, 3, 57, 849, 678, 0.596], 
       ['롯데', 144, 80, 2, 62, 743, 701, 0.563], 
       ['NC', 144, 79, 3, 62, 786, 745, 0.56],
       ['SK', 144, 75, 1, 68, 761, 767, 0.524],
       ['LG', 144, 69, 3, 72, 699, 677, 0.489],
       ['넥센', 144, 69, 2, 73, 789, 764, 0.486], 
       ['한화', 144, 61, 2, 81, 737, 820, 0.43], 
       ['삼성', 144, 55, 5, 84, 757, 911, 0.396], 
       ['kt', 144, 50, 0, 94, 655, 876, 0.347]]
print(cal_x(arr))

[['KIA', 2.0132248987597454, 0.5985217709236074, 0.608], ['두산', 1.9692994898793323, 0.6089543228216329, 0.596], ['롯데', 1.937964196238216, 0.528161805055163, 0.563], ['NC', 1.9707786305102772, 0.5263704294947738, 0.56], ['SK', 1.9696695337899193, 0.4961329050076046, 0.524], ['LG', 1.9113202245677972, 0.5152759959627624, 0.489], ['넥센', 1.978865024226476, 0.5159237501393235, 0.486], ['한화', 1.98032648858549, 0.4473624096126023, 0.43], ['삼성', 2.019855168982936, 0.40756612818362087, 0.396], ['kt', 1.9707786305102772, 0.3605526817263632, 0.347]]

### 피타고리언 승률과 차이 많이 나는 팀 원인 분석 ==> 데이터 전처리 필요
### 전, 후반기로 나누어 승률 추이 관찰