In [1]:
# import `pandas` and `sqlite3`
import pandas as pd
import sqlite3

# Connecting to SQLite Database
conn = sqlite3.connect('baseball-archive-sqlite\lahman2016.sqlite')

In [2]:
# Querying Database for all seasons where a team played 150 or more games and is still active today. 
query = '''select * from Teams 
inner join TeamsFranchises
on Teams.franchID == TeamsFranchises.franchID
where Teams.G >= 150 and TeamsFranchises.active == 'Y';
'''

# Creating dataframe from query.
Teams = conn.execute(query).fetchall()

In [3]:
# Convert results to DataFrame
teams_df = pd.DataFrame(Teams)

# Print out first 5 rows
print(teams_df.head())

     0   1    2    3     4   5    6     7   8   9   ...       42   43   44  \
0  1961  AL  LAA  ANA  None   8  162  82.0  70  91  ...   603510  111  112
1  1962  AL  LAA  ANA  None   3  162  81.0  86  76  ...  1144063   97   97
2  1963  AL  LAA  ANA  None   9  161  81.0  70  91  ...   821015   94   94
3  1964  AL  LAA  ANA  None   5  162  81.0  82  80  ...   760439   90   90
4  1965  AL  CAL  ANA  None   7  162  80.0  75  87  ...   566727   97   98

    45   46   47   48                             49  50    51
0  LAA  LAA  LAA  ANA  Los Angeles Angels of Anaheim   Y  None
1  LAA  LAA  LAA  ANA  Los Angeles Angels of Anaheim   Y  None
2  LAA  LAA  LAA  ANA  Los Angeles Angels of Anaheim   Y  None
3  LAA  LAA  LAA  ANA  Los Angeles Angels of Anaheim   Y  None
4  CAL  CAL  CAL  ANA  Los Angeles Angels of Anaheim   Y  None

[5 rows x 52 columns]

In [4]:
# Adding column names to dataframe
cols = ['yearID','lgID','teamID','franchID','divID','Rank','G','Ghome','W','L','DivWin','WCWin','LgWin','WSWin','R','AB','H','2B','3B','HR','BB','SO','SB','CS','HBP','SF','RA','ER','ERA','CG','SHO','SV','IPouts','HA','HRA','BBA','SOA','E','DP','FP','name','park','attendance','BPF','PPF','teamIDBR','teamIDlahman45','teamIDretro','franchID','franchName','active','NAassoc']
teams_df.columns = cols

# Print the first rows of `teams_df`
print(teams_df.head())

# Print the length of `teams_df`
print(len(teams_df))
# The len() function will let you know how many rows you’re dealing with: 2,287 is not a huge number of data points to work with, so hopefully there aren’t too many null values.

   yearID lgID teamID  franchID divID  Rank    G  Ghome   W   L  ...  \
0    1961   AL    LAA       ANA  None     8  162   82.0  70  91  ...
1    1962   AL    LAA       ANA  None     3  162   81.0  86  76  ...
2    1963   AL    LAA       ANA  None     9  161   81.0  70  91  ...
3    1964   AL    LAA       ANA  None     5  162   81.0  82  80  ...
4    1965   AL    CAL       ANA  None     7  162   80.0  75  87  ...

  attendance  BPF  PPF teamIDBR  teamIDlahman45  teamIDretro  franchID  \
0     603510  111  112      LAA             LAA          LAA       ANA
1    1144063   97   97      LAA             LAA          LAA       ANA
2     821015   94   94      LAA             LAA          LAA       ANA
3     760439   90   90      LAA             LAA          LAA       ANA
4     566727   97   98      CAL             CAL          CAL       ANA

                      franchName  active  NAassoc
0  Los Angeles Angels of Anaheim       Y     None
1  Los Angeles Angels of Anaheim       Y     None
2  Los Angeles Angels of Anaheim       Y     None
3  Los Angeles Angels of Anaheim       Y     None
4  Los Angeles Angels of Anaheim       Y     None

[5 rows x 52 columns]
2287

In [5]:
# Dropping your unnecesary column variables.
drop_cols = ['lgID','franchID','divID','Rank','Ghome','L','DivWin','WCWin','LgWin','WSWin','SF','name','park','attendance','BPF','PPF','teamIDBR','teamIDlahman45','teamIDretro','franchID','franchName','active','NAassoc']

df = teams_df.drop(drop_cols, axis=1)

# Print out first rows of `df`
print(df.head())

   yearID teamID    G   W    R    AB     H   2B  3B   HR  ...  SHO  SV  \
0    1961    LAA  162  70  744  5424  1331  218  22  189  ...    5  34
1    1962    LAA  162  86  718  5499  1377  232  35  137  ...   15  47
2    1963    LAA  161  70  597  5506  1378  208  38   95  ...   13  31
3    1964    LAA  162  82  544  5362  1297  186  27  102  ...   28  41
4    1965    CAL  162  75  527  5354  1279  200  36   92  ...   14  33

   IPouts    HA  HRA  BBA  SOA    E     DP     FP
0    4314  1391  180  713  973  192  154.0  0.969
1    4398  1412  118  616  858  175  153.0  0.972
2    4365  1317  120  578  889  163  155.0  0.974
3    4350  1273  100  530  965  138  168.0  0.978
4    4323  1259   91  563  847  123  149.0  0.981

[5 rows x 29 columns]