In [25]:
# python warning off
import warnings
warnings.filterwarnings('ignore')

# tensorflow warning off
import tensorflow as tf
tf.compat.v1.logging.set_verbosity(tf.compat.v1.logging.ERROR)

%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import tensorflow as tf
import keras

In [26]:
pit_2016 = pd.read_csv("../datasets/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv")

In [27]:
hit_2016 = pd.read_csv("../datasets/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2016.csv")

In [28]:
도루_D = pit_2016['SB']
도루_R = hit_2016['SB']

In [29]:
INN = pit_2016['INN2'] / 3
자책= pit_2016['ER']
방어율 = (ER * 9) / INN

In [30]:
방어율

0       3.000000
1       3.176471
2       4.000000
3       5.625000
4       8.000000
          ...
1435    6.750000
1436    7.000000
1437    3.000000
1438    5.000000
1439    4.500000
Length: 1440, dtype: float64

In [31]:
완투 = pit_2016['CG_CK']
실점 = pit_2016['R']
득점 = hit_2016['RUN']
타수 = hit_2016['AB']
안타수 = hit_2016['HIT']
장타2 = hit_2016['H2']
장타3 = hit_2016['H3']
홈런 = hit_2016['HR']
볼넷 = hit_2016['BB']
삼진 = pit_2016['KK']
# 세이브 = 0
이닝당아웃수 = pit_2016['INN2']
안타허용 = pit_2016['HIT']
홈런허용 = pit_2016['HR']
볼넷허용 = pit_2016['BB']
탈삼진 = pit_2016['KK']
탈병살 = pit_2016['GD']

In [32]:
err1 = pit_2016['ERR']
err2 = hit_2016['ERR']
실책 = err1 + err2

In [33]:
실책

0       0
1       2
2       1
3       0
4       1
       ..
1435    2
1436    0
1437    1
1438    0
1439    3
Name: ERR, Length: 1440, dtype: int64

In [34]:
# SB_D ==> SB
# SB_R ==> SB
# ERA ==> ERA
# ER ==> ER
# CG ==> CG_CK
# RA ==> 득점 허용 == 실점
# R ==> 득점
# AB ==> AB
# H
# 2B
# 3B
# HR
# BB
# SO
# G
# FP
# SV
# IPOuts
# HA
# HRA
# BBA
# SOA
# E ==> 실책
# DP
# W

In [35]:
df_full = pd.DataFrame({'도루_D':도루_D, '도루_R':도루_R, '방어율':방어율, 
                        '자책':자책, 
                        '완투':완투, '실점':실점, '득점':득점, '타수':타수,
                        '안타수':안타수, '2루':장타2, '3루':장타3, '홈런':홈런,
                        '볼넷':볼넷, '삼진':삼진, '이닝당아웃수':이닝당아웃수,
                        '안타허용':안타허용, '홈런허용':홈런허용, '볼넷허용':볼넷허용,
                        '탈삼진':탈삼진, '탈병살':탈병살, '실책':실책})
df_full

,도루_D,도루_R,방어율,자책,완투,실점,득점,타수,안타수,2루,...,홈런,볼넷,삼진,이닝당아웃수,안타허용,홈런허용,볼넷허용,탈삼진,탈병살,실책
0,0,2,3.000000,4,0,4,5,42,9,2,...,1,4,10,36,13,0,3,10,1,0
1,2,0,3.176471,4,0,5,4,46,13,2,...,0,3,11,34,9,1,4,11,0,2
2,0,0,4.000000,4,0,4,5,30,9,2,...,2,5,10,27,8,1,3,10,1,1
3,0,0,5.625000,5,0,5,4,34,8,3,...,1,3,9,24,9,2,5,9,1,0
4,2,0,8.000000,8,0,8,4,36,10,5,...,1,0,7,27,11,2,4,7,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,0,1,6.750000,6,0,7,6,36,10,2,...,2,3,9,24,12,3,3,9,1,2
1436,1,4,7.000000,7,0,7,4,39,12,4,...,0,1,7,27,14,0,3,7,0,0
1437,4,1,3.000000,3,0,4,7,38,14,3,...,0,3,13,27,12,0,1,13,0,1
1438,0,1,5.000000,5,0,5,8,36,11,2,...,2,1,6,27,10,0,3,6,1,0
1439,1,0,4.500000,4,0,8,5,33,10,0,...,0,3,4,24,11,2,1,4,2,3

In [ ]:
Y = pit_2016['WLS']

In [ ]:
from keras.utils import np_utils

In [ ]:
Y = np_utils.to_categorical(Y)