# 2016 to 2020: KBO preprocessing

SB_D, CS_D, SB_R, CS_R, SF_H, HBP_H, ERA, HBP_P, ER, CG, SHO, SF_P, RA

In [1]:
# python warning off
import warnings
warnings.filterwarnings('ignore')

# tensorflow warning off
import tensorflow as tf
tf.compat.v1.logging.set_verbosity(tf.compat.v1.logging.ERROR)

In [2]:
import pandas as pd

df = pd.read_csv('my_data.csv')
df.head()

,yearID,teamID,SB_D,CS_D,SB_R,CS_R,SF_H,HBP_H,ERA,HBP_P,ER,CG,SHO,SF_P,RA
0,2020,키움,54,26,65,14,37,46,4.37,48,380,0,2,22,4.76
1,2020,KIA,48,28,23,10,16,37,4.48,32,358,1,2,25,4.86
2,2020,LG,47,23,46,26,31,43,4.59,49,392,1,8,32,5.03
3,2020,삼성,34,22,81,36,31,44,4.61,41,382,2,9,30,5.22
4,2020,롯데,55,16,53,20,26,35,4.61,29,365,1,9,34,5.00

In [3]:
for i in range(len(df)):
    if df['teamID'][i]=='두산':
        df['teamID'][i]='OB'
    elif df['teamID'][i]=='키움' or df['teamID'][i]=='넥센':
        df['teamID'][i]='WO'
    elif df['teamID'][i]=='KIA':
        df['teamID'][i]='HT'
    elif df['teamID'][i]=='삼성':
        df['teamID'][i]='SS'
    elif df['teamID'][i]=='롯데':
        df['teamID'][i]='LT'
    elif df['teamID'][i]=='한화':
        df['teamID'][i]='HH'
    
df.head()

,yearID,teamID,SB_D,CS_D,SB_R,CS_R,SF_H,HBP_H,ERA,HBP_P,ER,CG,SHO,SF_P,RA
0,2020,WO,54,26,65,14,37,46,4.37,48,380,0,2,22,4.76
1,2020,HT,48,28,23,10,16,37,4.48,32,358,1,2,25,4.86
2,2020,LG,47,23,46,26,31,43,4.59,49,392,1,8,32,5.03
3,2020,SS,34,22,81,36,31,44,4.61,41,382,2,9,30,5.22
4,2020,LT,55,16,53,20,26,35,4.61,29,365,1,9,34,5.00

In [4]:
df.to_csv('nakon.csv', index = False, encoding = 'cp949')