In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv")

In [3]:
data

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,CG_CK,WLS,HOLD,INN2,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
0,20160401HHLG0,20160401,LG,HH,0,B,0,W,0,36,...,10,1,0,0,0,4,4,0.642857,1.285714,2.400000
1,20160401HHLG0,20160401,HH,LG,0,T,0,L,0,34,...,11,0,1,0,0,5,4,1.500000,1.000000,0.750000
2,20160401HTNC0,20160401,NC,HT,0,B,0,W,0,27,...,10,1,2,0,0,4,4,1.333333,1.038462,2.142857
3,20160401HTNC0,20160401,HT,NC,0,T,0,L,0,24,...,9,1,0,0,0,5,5,0.500000,1.695652,1.875000
4,20160401KTSK0,20160401,SK,KT,0,B,0,L,0,27,...,7,0,0,0,0,8,8,1.000000,2.357143,2.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,20161008SSSK0,20161008,SS,SK,0,T,0,L,0,24,...,9,1,0,0,0,7,6,1.500000,2.538462,1.666667
1436,20161009KTNC0,20161009,NC,KT,0,B,0,L,0,27,...,7,0,2,1,0,7,7,0.900000,2.217391,1.500000
1437,20161009KTNC0,20161009,KT,NC,0,T,0,W,1,27,...,13,0,0,0,1,4,3,0.562500,1.428571,1.090909
1438,20161009WOLT0,20161009,LT,WO,0,B,0,W,1,27,...,6,1,1,0,0,5,5,1.500000,1.500000,1.000000
1439,20161009WOLT0,20161009,WO,LT,0,T,0,L,0,24,...,4,2,1,0,0,8,4,2.250000,1.666667,3.000000

In [10]:
W_count, L_count, D_count = 0, 0, 0
dictout = {}
for i in range(len(data['T_ID'])):
    temp = data['T_ID'][i]
    if temp not in dictout:
        dictout[temp] = [0, 0, 0]
        
    if data['WLS'][i] == 'W':
        dictout[temp][0] += 1
        
    elif data['WLS'][i] == 'D':
        dictout[temp][1] += 1
        
    elif data['WLS'][i] == 'L':
        dictout[temp][2] += 1

In [11]:
dictout

{'LG': [71, 2, 71],
 'HH': [66, 3, 75],
 'NC': [83, 3, 58],
 'HT': [70, 1, 73],
 'SK': [69, 0, 75],
 'KT': [53, 2, 89],
 'WO': [77, 1, 66],
 'LT': [66, 0, 78],
 'SS': [65, 1, 78],
 'OB': [93, 1, 50]}

In [12]:
data_hit = pd.read_csv("2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2016.csv")

In [16]:
dictHL = {}
for i in range(len(data_hit['T_ID'])):
    temp = data_hit['T_ID'][i]
    if temp not in dictHL:
        dictHL[temp] = [0, 0]
    dictHL[temp][0] += data_hit['RUN'][i]

for i in range(len(data['T_ID'])):
    temp = data['T_ID'][i]
    
    dictHL[temp][1] += data['R'][i]

In [17]:
dictHL

{'LG': [786, 807],
 'HH': [826, 908],
 'NC': [857, 690],
 'HT': [803, 785],
 'SK': [753, 784],
 'KT': [672, 927],
 'WO': [813, 757],
 'LT': [777, 865],
 'SS': [852, 869],
 'OB': [935, 682]}

In [18]:
dic = {}
dic['a'] = [1]
dic['a'].append(2)

dic['a'][0] += 1
dic

{'a': [2, 2]}