## Extract 31G data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df2016_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv', engine = 'python')
# df2016_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2016.csv', engine = 'python')
df2017_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2017.csv', engine = 'python')
# df2017_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2017.csv', engine = 'python')
df2018_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2018.csv', engine = 'python')
# df2018_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2018.csv', engine = 'python')
df2019_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2019.csv', engine = 'python')
# df2019_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2019.csv', engine = 'python')
# df2020_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2020.csv', engine = 'python')
# df2020_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2020.csv', engine = 'python')

In [3]:
df2016_team_pit = df2016_team_pit.loc[df2016_team_pit["GDAY_DS"] >= 20160826] #2016년도의 113경기만큼을 분리
# df2016_team_bat = df2016_team_bat.loc[df2016_team_bat["GDAY_DS"] >= 20160826]
df2017_team_pit = df2017_team_pit.loc[df2017_team_pit["GDAY_DS"] >= 20170823] #2017년도의 113경기만큼을 분리
# df2017_team_bat = df2017_team_bat.loc[df2017_team_bat["GDAY_DS"] >= 20170823]
df2018_team_pit = df2018_team_pit.loc[df2018_team_pit["GDAY_DS"] >= 20180817] #2018년도의 113경기만큼을 분리
# df2018_team_bat = df2018_team_bat.loc[df2018_team_bat["GDAY_DS"] >= 20180817]
df2019_team_pit = df2019_team_pit.loc[df2019_team_pit["GDAY_DS"] >= 20190819] #2019년도의 113경기만큼을 분리
# df2019_team_bat = df2019_team_bat.loc[df2019_team_bat["GDAY_DS"] >= 20190819]
# df2020_team_pit = df2020_team_pit.loc[df2020_team_pit["GDAY_DS"] >= 20200928] #2020년도의 113경기만큼을 분리
# df2020_team_bat = df2020_team_bat.loc[df2020_team_bat["GDAY_DS"] >= 20200928]

In [41]:
team = ['HH', 'NC', 'KT', 'SK', 'KT', 'LG', 'OB', 'SS', 'WO', 'LT']

## yearID

In [4]:
def yearID(df, year):
    df['G_ID'] = year
    df.rename(columns={'G_ID':'yearID'}, inplace =True)

In [5]:
yearID(df2016_team_pit, 2016)
# yearID(df2016_team_bat, 2016)
yearID(df2017_team_pit, 2017)
# yearID(df2017_team_bat, 2017)
yearID(df2018_team_pit, 2018)
# yearID(df2018_team_bat, 2018)
yearID(df2019_team_pit, 2019)
# yearID(df2019_team_bat, 2019)
# yearID(df2020_team_pit, 2020)
# yearID(df2020_team_bat, 2020)

## Generate teamID

In [6]:
def teamID(df):
    df.rename(columns={'T_ID':'teamID'}, inplace =True)

In [7]:
teamID(df2016_team_pit)
teamID(df2017_team_pit)
teamID(df2018_team_pit)
teamID(df2019_team_pit)
# teamID(df2020_team_pit)

In [10]:
df2016_team_pit = df2016_team_pit.reset_index()
df2017_team_pit = df2017_team_pit.reset_index()
df2018_team_pit = df2018_team_pit.reset_index()
df2019_team_pit = df2019_team_pit.reset_index()
# df2020_team_pit = df2020_team_pit.reset_index()

## W,L,D 추가 및 연도별 데이터 전환

In [42]:
# def wld(df):
def wld(df, df_):
    w_dict = {}
    lose_dict = {}
    draw_dict = {}
    for j in range(len(team)):
        w_dict[team[j]] = 0
    for i in range(len(df['teamID'])):
        tmp = df['teamID'][i]
        if df['WLS'][i] == 'W':
            if tmp not in w_dict:
                w_dict[tmp] = 1
            else:
                w_dict[tmp] += 1
        elif df['WLS'][i] == 'L':
            if tmp not in lose_dict:
                lose_dict[tmp] = 1
            else:
                lose_dict[tmp] += 1
        elif df['WLS'][i] == 'D':
            if tmp not in draw_dict:
                draw_dict[tmp] = 1
            else:
                draw_dict[tmp] += 1
    arr = ['HH', 'HT', 'SK', 'LT', 'LG', 'KT', 'SS', 'OB', 'WO', 'NC']
    for name in list(draw_dict.keys()):
        if name in arr:
            arr.remove(name)
    for name_ in arr:
        draw_dict[name_] = 0
        
    df_['W'] = list(w_dict.values())
    df_['L'] = list(lose_dict.values())
    df_['D'] = list(draw_dict.values())

In [43]:
# wld(df2016_team_pit)

In [44]:
# def WLS(df):
#     WLS = []
#     for i in df['WLS']:
#         if i == 'W':
#             WLS.append(0)
#         elif i == 'L':
#             WLS.append(1)
#         else:
#             WLS.append(2)
#     return WLS

In [45]:
# WLS(df2016_team_pit)
# WLS(df2017_team_pit)
# WLS(df2018_team_pit)
# WLS(df2019_team_pit)
# # WLS(df2020_team_bat)

In [46]:
# def WLD(df):
#     team=df['teamID'].values[:10]
#     W=[]
#     L=[]
#     D=[]
#     for i in team:
#         w,l,d = 0,0,0
#         for j in df[df["teamID"]==i]['WLS']:
#             if j == 0:
#                 w += 1
#             elif j == 1:
#                 l += 1
#             else:
#                 d += 1
#         W.append(w)
#         L.append(l)
#         D.append(d)
#     return W,L,D

In [47]:
def win_rate(df):
    lst = []
    for i in range(len(df['teamID'])):
        lst.append(round((df['W'][i] / (df['W'][i] + df['L'][i] + df['D'][i])), 3))
    df['WinRate'] = lst

In [50]:
columns = ['yearID','teamID','W','L','D', 'WinRate']
df16 = pd.DataFrame(columns=columns)
df16['teamID']=team
# w,l,d = WLD(df2016_team_pit)
df16['yearID']=2016
# df16['W'] = w
# df16['L'] = l
# df16['D'] = d
wld(df2016_team_pit, df16)
win_rate(df16)

team = df2017_team_pit["teamID"].values[:10]
columns = ['yearID','teamID','W','L','D', "WinRate"]
df17 = pd.DataFrame(columns=columns)
df17['teamID']=team
# w,l,d = WLD(df2017_team_pit)
df17['yearID']=2017
# df17['W'] = w
# df17['L'] = l
# df17['D'] = d
wld(df2017_team_pit, df17)
win_rate(df17)

team = df2018_team_pit["teamID"].values[:10]
columns = ['yearID','teamID','W','L','D', 'WinRate']
df18 = pd.DataFrame(columns=columns)
df18['teamID']=team
# w,l,d = WLD(df2018_team_pit)
df18['yearID']=2018
# df18['W'] = w
# df18['L'] = l
# df18['D'] = d
wld(df2018_team_pit, df18)
win_rate(df18)

team = df2019_team_pit["teamID"].values[:10]
columns = ['yearID','teamID','W','L','D', 'WinRate']
df19 = pd.DataFrame(columns=columns)
df19['teamID']=team
# w,l,d = WLD(df2019_team_pit)
df19['yearID']=2019
# df19['W'] = w
# df19['L'] = l
# df19['D'] = d
wld(df2019_team_pit, df19)
win_rate(df19)

# # team = df2020_team_pit["teamID"].values[:10]
# # columns = ['yearID','teamID','W','L','D']
# # df20 = pd.DataFrame(columns=columns)
# # df20['teamID']=team
# # w,l,d = WLD(df2020_team_pit)
# # df20['yearID']=2020
# # df20['W'] = w
# # df20['L'] = l
# # df20['D'] = d
# # win_rate(df20)

In [51]:
df16

   yearID teamID   W   L  D  WinRate
0    2016     LG  17  17  1    0.486
1    2016     HT  14  16  1    0.452
2    2016     SK  11  16  0    0.407
3    2016     LT  15  16  0    0.484
4    2016     NC  19  22  0    0.463
5    2016     OB  20   9  0    0.690
6    2016     HH  17  13  0    0.567
7    2016     SS  16  15  0    0.516
8    2016     KT  11  14  0    0.440
9    2016     WO  13  15  0    0.464

In [52]:
df17

   yearID teamID   W   L  D  WinRate
0    2017     KT  14  18  1    0.424
1    2017     HH  14  15  2    0.452
2    2017     HT  18  13  1    0.562
3    2017     LT  20  10  2    0.625
4    2017     LG  13  18  1    0.406
5    2017     NC  14  20  1    0.400
6    2017     SK  17  18  0    0.486
7    2017     OB  19  17  0    0.528
8    2017     WO   9   8  0    0.529
9    2017     SS  10  11  0    0.476

In [53]:
df18

   yearID teamID   W   L  D  WinRate
0    2018     OB  20  11  1    0.625
1    2018     HT  19  16  1    0.528
2    2018     KT  12  17  0    0.414
3    2018     LG  12  17  0    0.414
4    2018     HH  15  16  0    0.484
5    2018     LT  17  15  0    0.531
6    2018     NC  11  18  0    0.379
7    2018     SS  14  12  0    0.538
8    2018     SK  16  13  0    0.552
9    2018     WO  14  15  0    0.483

In [54]:
df19

   yearID teamID   W   L  D  WinRate
0    2019     LG  18  17  1    0.500
1    2019     HT  13  24  1    0.342
2    2019     SK  14   9  1    0.583
3    2019     LT   6  16  1    0.261
4    2019     NC  17   9  1    0.630
5    2019     OB  20  13  1    0.588
6    2019     HH  14  13  0    0.519
7    2019     SS  14  19  0    0.424
8    2019     KT  15  13  0    0.536
9    2019     WO  17  15  0    0.531

In [55]:
df = pd.concat([df16, df17, df18, df19])
# df = pd.concat([df16,df17,df18,df19,df20])
df = df.sort_values(by=['yearID', 'teamID'], ascending=True)
df.to_csv("extract31g.csv", index= False, encoding='cp949')