# 2016~2019 data preprocessing(113G)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df2016_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv', engine = 'python')
df2016_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2016.csv', engine = 'python')
df2017_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2017.csv', engine = 'python')
df2017_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2017.csv', engine = 'python')
df2018_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2018.csv', engine = 'python')
df2018_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2018.csv', engine = 'python')
df2019_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2019.csv', engine = 'python')
df2019_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2019.csv', engine = 'python')
# df2020_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2020.csv', engine = 'python')
# df2020_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2020.csv', engine = 'python')

In [3]:
# type(df["GDAY_DS"][0])

In [4]:
df2016_team_pit = df2016_team_pit.loc[df2016_team_pit["GDAY_DS"] < 20160826] #2016년도의 113경기만큼을 분리
df2016_team_bat = df2016_team_bat.loc[df2016_team_bat["GDAY_DS"] < 20160826]
df2017_team_pit = df2017_team_pit.loc[df2017_team_pit["GDAY_DS"] < 20170823] #2017년도의 113경기만큼을 분리
df2017_team_bat = df2017_team_bat.loc[df2017_team_bat["GDAY_DS"] < 20170823]
df2018_team_pit = df2018_team_pit.loc[df2018_team_pit["GDAY_DS"] < 20180817] #2018년도의 113경기만큼을 분리
df2018_team_bat = df2018_team_bat.loc[df2018_team_bat["GDAY_DS"] < 20180817]
df2019_team_pit = df2019_team_pit.loc[df2019_team_pit["GDAY_DS"] < 20190819] #2019년도의 113경기만큼을 분리
df2019_team_bat = df2019_team_bat.loc[df2019_team_bat["GDAY_DS"] < 20190819]
# df2020_team_pit = df2020_team_pit.loc[df2020_team_pit["GDAY_DS"] < 20200928] #2020년도의 113경기만큼을 분리
# df2020_team_bat = df2020_team_bat.loc[df2020_team_bat["GDAY_DS"] < 20200928]

## Generate yearID

In [5]:
def yearID(df, year):
    df['G_ID'] = year
    df.rename(columns={'G_ID':'yearID'}, inplace =True)

In [6]:
yearID(df2016_team_pit,2016)
yearID(df2016_team_bat,2016)
yearID(df2017_team_pit,2017)
yearID(df2017_team_bat,2017)
yearID(df2018_team_pit,2018)
yearID(df2018_team_bat,2018)
yearID(df2019_team_pit,2019)
yearID(df2019_team_bat,2019)
# yearID(df2020_team_pit,2020)
# yearID(df2020_team_bat,2020)

## Generate teamID

In [7]:
def teamID(df):
    df.rename(columns={'T_ID':'teamID'}, inplace =True)

In [8]:
teamID(df2016_team_pit)
teamID(df2016_team_bat)
teamID(df2017_team_pit)
teamID(df2017_team_bat)
teamID(df2018_team_pit)
teamID(df2018_team_bat)
teamID(df2019_team_pit)
teamID(df2019_team_bat)
# teamID(df2020_team_pit)
# teamID(df2020_team_bat)

## Generate franchID

In [9]:
# 팀투수 데이터 기준
def franchID(df):
    franchID = []
    for i in df['teamID']:
        if i == 'HH':
            franchID.append('DJ')
        elif i == 'HT':
            franchID.append('GJ')
        elif i == 'KT':
            franchID.append('SW')
        elif i == 'LG':
            franchID.append('SO')
        elif i == 'LT':
            franchID.append('BS')
        elif i == 'NC':
            franchID.append('MS')
        elif i == 'OB':
            franchID.append('SO')
        elif i == 'SK':
            franchID.append('IC')
        elif i == 'SS':
            franchID.append('DG')
        elif i == 'WO':
            franchID.append('SO')
    df['franchID'] = franchID

In [10]:
franchID(df2016_team_pit)
franchID(df2016_team_bat)
franchID(df2017_team_pit)
franchID(df2017_team_bat)
franchID(df2018_team_pit)
franchID(df2018_team_bat)
franchID(df2019_team_pit)
franchID(df2019_team_bat)
# franchID(df2020_team_pit)
# franchID(df2020_team_bat)

In [11]:
def rank(df,rank_list):
    rank = []
    for i in df['teamID']:
        if i == 'HH':
            rank.append(rank_list[0])
        elif i == 'HT':
            rank.append(rank_list[1])
        elif i == 'KT':
            rank.append(rank_list[2])
        elif i == 'LG':
            rank.append(rank_list[3])
        elif i == 'LT':
            rank.append(rank_list[4])
        elif i == 'NC':
             rank.append(rank_list[5])
        elif i == 'OB':
            rank.append(rank_list[6])
        elif i == 'SK':
            rank.append(rank_list[7])
        elif i == 'SS':
            rank.append(rank_list[8])
        elif i == 'WO':
            rank.append(rank_list[9])
    df['Rank'] = rank

## W,L,D 추가 및 연도별 데이터 전환

경기 결과에 따라 0,1,2(W,L,D)로 변환

In [12]:
def WLS(df):
    WLS = []
    for i in df['WLS']:
        if i == 'W':
            WLS.append(0)
        elif i == 'L':
            WLS.append(1)
        else:
            WLS.append(2)

    df['WLS'] = WLS

In [13]:
WLS(df2016_team_pit)
WLS(df2017_team_pit)
WLS(df2018_team_pit)
WLS(df2019_team_pit)
# WLS(df2020_team_bat)

In [14]:
def WLD(df):
    team=df['teamID'].values[:10]
    W=[]
    L=[]
    D=[]
    for i in team:
        w,l,d = 0,0,0
        for j in df[df["teamID"]==i]['WLS']:
            if j == 0:
                w += 1
            elif j == 1:
                l += 1
            else:
                d += 1
        W.append(w)
        L.append(l)
        D.append(d)
    return W,L,D

## G, Ghome 세기

In [15]:
def Gtotal(df):
    G = len(df['GDAY_DS'])/10
    return G

def Ghome(df):
    Ghome=[]
    team = df["teamID"].values[:10]
    for i in team:
        ghome =0
        for j in df[df['teamID']==i]['TB_SC']:
            if j == 'B':
                ghome += 1
        Ghome.append(ghome)
    return Ghome

## 연간 데이터 만들기

In [16]:
#[한화, 기아, KT, LG, 롯데, NC, 두산, SK, 삼성, 키움]
rank16 = [7,5,10,4,8,2,1,6,9,3]
rank17 = [8,1,10,6,3,4,2,5,9,7]
rank18 = [3,5,9,8,7,10,2,1,6,4]
rank19 = [9,7,6,4,10,5,1,3,8,2]
# rank20 = [10,5,6,3,7,1,4,9,8,2]

In [17]:
G16 = Gtotal(df2016_team_pit)
G17 = Gtotal(df2017_team_pit)
G18 = Gtotal(df2018_team_pit)
G19 = Gtotal(df2019_team_pit)
# G20 = Gtotal(df2020_team_pit)

In [18]:
Ghome16 = Ghome(df2016_team_pit)
Ghome17 = Ghome(df2017_team_pit)
Ghome18 = Ghome(df2018_team_pit)
Ghome19 = Ghome(df2019_team_pit)
# Ghome20 = Ghome(df2020_team_pit)

## WSWin : 한국시리즈 우승

In [19]:
def wswin(df, ws_list):
    wswin = []
    for i in df['teamID']:
        if i == 'HH':
            wswin.append(ws_list[0])
        elif i == 'HT':
            wswin.append(ws_list[1])
        elif i == 'KT':
            wswin.append(ws_list[2])
        elif i == 'LG':
            wswin.append(ws_list[3])
        elif i == 'LT':
            wswin.append(ws_list[4])
        elif i == 'NC':
            wswin.append(ws_list[5])
        elif i == 'OB':
            wswin.append(ws_list[6])
        elif i == 'SK':
            wswin.append(ws_list[7])
        elif i == 'SS':
            wswin.append(ws_list[8])
        elif i == 'WO':
            wswin.append(ws_list[9])
    df['WSWin'] = wswin

In [20]:
#[한화, 기아, KT, LG, 롯데, NC, 두산, SK, 삼성, 키움], 각 년도별 우승팀에게 1, 나머지 팀에게 0
ws_list_16 = [0, 0, 0, 0, 0, 0, 1, 0, 0, 0]
ws_list_17 = [0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
ws_list_18 = [0, 0, 0, 0, 0, 0, 0, 1, 0, 0]
ws_list_19 = [0, 0, 0, 0, 0, 0, 1, 0, 0, 0]
# ws_list_20 = [0, 0, 0, 0, 0, 0, 0, 0, 0]

## R : 득점

In [21]:
def run(df, df_):  # df에 타자 데이터 넣을 것
    #df_ means dataframe that we will return as outcome
    r_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in r_dict:
            r_dict[temp] = df['RUN'][i]
        else:
            r_dict[temp] += df['RUN'][i]
    df_['RUN'] = list(r_dict.values())
#     return list(r_dict.values())

In [22]:
# run(df2016_team_bat)

## 타석 수

In [23]:
# df2016_team_bat

In [24]:
def ab(df, df_):  # df에 타자 데이터 넣을 것
    AB_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in AB_dict:
            AB_dict[temp] = df['AB'][i]
        else:
            AB_dict[temp] += df['AB'][i]
    df_['AB'] = list(AB_dict.values())
#     return AB_dict

In [25]:
# ab(df2016_team_bat)

## 안타 수

In [26]:
def hit(df, df_):  # df에 타자 데이터 넣을 것
    HIT_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in HIT_dict:
            HIT_dict[temp] = df['HIT'][i]
        else:
            HIT_dict[temp] += df['HIT'][i]
    df_['HIT'] = list(HIT_dict.values())
#     return HIT_dict.valess

In [27]:
# hit(df2016_team_bat)

## 2루타

In [28]:
def h2(df, df_):  # df에 타자 데이터 넣을 것
    H2_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in H2_dict:
            H2_dict[temp] = df['H2'][i]
        else:
            H2_dict[temp] += df['H2'][i]
    df_['H2'] = list(H2_dict.values())
#     return H2_dict

In [29]:
# h2(df2016_team_bat)

## 3루타

In [30]:
def h3(df, df_):  # df에 타자 데이터 넣을 것
    H3_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in H3_dict:
            H3_dict[temp] = df['H3'][i]
        else:
            H3_dict[temp] += df['H3'][i]
    df_['H3'] = list(H3_dict.values())
#     return H3_dict

In [31]:
# h3(df2016_team_bat)

## 홈런

In [32]:
def hr(df, df_):  # df에 타자 데이터 넣을 것
    HR_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in HR_dict:
            HR_dict[temp] = df['HR'][i]
        else:
            HR_dict[temp] += df['HR'][i]
    df_['HR'] = list(HR_dict.values())
#     return HR_dict

In [33]:
# hr(df2016_team_bat)

## 사사구

In [34]:
def bb(df, df_):  #df에 투수 데이터 넣을 것
    BB_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in BB_dict:
            BB_dict[temp] = df['BB'][i]
        else:
            BB_dict[temp] += df['BB'][i]
    df_['BB'] = list(BB_dict.values())
#     return BB_dict

In [35]:
# bb(df2016_team_pit)

## 삼진

In [36]:
def kk(df, df_):  #df에 투수 데이터 넣을 것
    KK_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in KK_dict:
            KK_dict[temp] = df['KK'][i]
        else:
            KK_dict[temp] += df['KK'][i]
    df_['SO'] = list(KK_dict.values())
#     return KK_dict

## 도루

In [37]:
def sb(df, df_):  # df에 타자 데이터 넣을 것
    sb_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in sb_dict:
            sb_dict[temp] = df['SB'][i]
        else:
            sb_dict[temp] += df['SB'][i]
    df_['SB'] = list(sb_dict.values())
#     return list(sb_dict.values())

## 도루 실패

In [38]:
def cs(df, df_):  # df에 타자 데이터 넣을 것
    cs_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in cs_dict:
            cs_dict[temp] = df['CS'][i]
        else:
            cs_dict[temp] += df['CS'][i]
    df_['CS'] = list(cs_dict.values())

## 몸에 맞는 볼

In [39]:
def hbp(df, df_):  # df에 타자 데이터 넣을 것
    hbp_dict = {}
    for i in range(len(df['teamID'])):
        tmp = df['teamID'][i]
        if tmp not in hbp_dict:
            hbp_dict[tmp] = df['HP'][i]
        else:
            hbp_dict[tmp] += df['HP'][i]
    df_['HP'] = list(hbp_dict.values())

## 희생플라이

In [40]:
def sf(df, df_):  # df에 타자 데이터 넣을 것
    sf_dict = {}
    for i in range(len(df['teamID'])):
        tmp = df['teamID'][i]
        if tmp not in sf_dict:
            sf_dict[tmp] = df['SF'][i]
        else:
            sf_dict[tmp] += df['SF'][i]
    df_['SF'] = list(sf_dict.values())

## 득점 허용(RA) : 자책 + 비자책

In [41]:
def ra(df, df_):  # df에 투수 데이터 넣을 것
    ra_dict = {}
    for i in range(len(df['teamID'])):
        tmp = df['teamID'][i]
        if tmp not in ra_dict:
            ra_dict[tmp] = df['R'][i]
        else:
            ra_dict[tmp] += df['R'][i]
    df_['RA'] = list(ra_dict.values())

## 득점 허용(ER) : 자책

In [42]:
def er(df, df_):  # df에 투수 데이터 넣을 것
    er_dict = {}
    for i in range(len(df['teamID'])):
        tmp = df['teamID'][i]
        if tmp not in er_dict:
            er_dict[tmp] = df['ER'][i]
        else:
            er_dict[tmp] += df['ER'][i]
    df_['ER'] = list(er_dict.values())

## 팀 방어율(ERA) : ER*9/inning

In [43]:
def era(df, df_):  # df에 투수 데이터 넣을 것
    inn_dict = {}
    for i in range(len(df['teamID'])):
        tmp = df['teamID'][i]
        if tmp not in inn_dict:
            inn_dict[tmp] = df['INN2'][i]/3
        else:
            inn_dict[tmp] += df['INN2'][i]/3
    er_dict = {}
    for j in range(len(df['teamID'])):
        tmp = df['teamID'][j]
        if tmp not in er_dict:
            er_dict[tmp] = df['ER'][j]*9
        else:
            er_dict[tmp] += df['ER'][j]*9
    era_lst = []
    for k in range(len(inn_dict.keys())):
        era_lst.append(round(list(er_dict.values())[k]/list(inn_dict.values())[k], 3))
    df_['ERA'] = era_lst

## 완투(CG) : 선발로 나온 투수가 전 이닝을 책임(승패 여부 상관 x)

In [44]:
df2016_psnl_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2016.csv', engine = 'python')
df2016_tp = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv', engine = 'python')
teamID(df2016_psnl_pit)
df2016_psnl_pit = df2016_psnl_pit.loc[df2016_psnl_pit["GDAY_DS"] < 20160826]
df2016_tp = df2016_tp.loc[df2016_tp['GDAY_DS'] < 20160826]
# df2016_psnl_pit
# df2016_tp

In [45]:
# df2016_tp['G_ID']

In [46]:
# df2016_psnl_pit['G_ID'][10]

In [47]:
# df2016_tp = df2016_tp[(df2016_tp['G_ID'] == df2016_psnl_pit['G_ID'][20]) & (df2016_tp['T_ID'] == df2016_psnl_pit['teamID'][20])]
# # # df2016_tp = df2016_tp[(df2016_tp['G_ID'] == df2016_psnl_pit['G_ID'][15]) & (df2016_tp['T_ID'] == df2016_psnl_pit['teamID'][15])]
# # # type(df2016_tp['INN2'])
# df2016_tp['INN2'].values[0]

In [48]:
# def cg(df1, df2):
def cg(df1, df2, df_):  # df1에는 개인투수, df2에는 전처리 되지 않은 팀투수 원본 데이터 투입
    cg_dict = {}
    for i in range(len(df1['teamID'])):
        tmp = df1['teamID'][i]
        if df1['START_CK'][i] == 1:
            df_temp = df2[(df2['G_ID'] == df1['G_ID'][i]) & (df2['T_ID'] == df1['teamID'][i])]
            if df1['INN2'][i] == df_temp['INN2'].item():
                if tmp not in cg_dict:
                    cg_dict[tmp] = 1
                else:
                    cg_dict[tmp] += 1
    arr = ['HH', 'HT', 'SK', 'LT', 'LG', 'KT', 'SS', 'OB', 'WO', 'NC']
    for name in list(cg_dict.keys()):
        if name in arr:
            arr.remove(name)
    for name_ in arr:
        cg_dict[name_] = 0
    df_['CG'] = list(cg_dict.values())
#     return cg_dict

## 완봉

In [49]:
# def sho(df1, df2):
def sho(df1, df2, df_):  # df1에는 개인투수, df2에는 전처리 되지 않은 팀투수 원본
    sho_dict = {}
    for i in range(len(df1['teamID'])):
        tmp = df1['teamID'][i]
        if df1['WLS'][i] == 'W':
            df_temp = df2[(df2['G_ID'] == df1['G_ID'][i]) & (df2['T_ID'] == df1['teamID'][i])]
            if df1['INN2'][i] == df_temp['INN2'].item():
                if tmp not in sho_dict:
                    sho_dict[tmp] = 1
                else:
                    sho_dict[tmp] += 1
    arr = ['HH', 'HT', 'SK', 'LT', 'LG', 'KT', 'SS', 'OB', 'WO', 'NC']
    for name in list(sho_dict.keys()):
        if name in arr:
            arr.remove(name)
    for name_ in arr:
        sho_dict[name_] = 0
    df_['SHO'] = list(sho_dict.values())
#     return sho_dict

In [50]:
# sho(df2016_psnl_pit, df2016_tp)

## 에러

In [51]:
def error(df, df_):
    err_dict = {}
    for i in range(len(df['teamID'])):
        tmp = df['teamID'][i]
        if tmp not in err_dict:
            err_dict[tmp] = df['ERR'][i]
        else:
            err_dict[tmp] += df['ERR'][i]
    df_['ERR'] = list(err_dict.values())

## 탈병살

In [52]:
def gd(df, df_):
    gd_dict = {}
    for i in range(len(df['teamID'])):
        tmp = df['teamID'][i]
        if tmp not in gd_dict:
            gd_dict[tmp] = df['GD'][i]
        else:
            gd_dict[tmp] += df['GD'][i]
    df_['GD'] = list(gd_dict.values())

In [53]:
team = df2016_team_pit["teamID"].values[:10]
columns = ['yearID','teamID','franchID', 'Rank', 'G', 'Ghome','W','L','D', 'WSWin', 'RUN', 'AB', 'HIT', 'H2', 'H3', 'HR', 'BB', 'SO', 'SB', 'CS', 'HP', 'SF', 'RA', 'ER', 'ERA', 'CG', 'SHO', 'ERR', 'GD']

df2016_psnl_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2016.csv', engine = 'python')
df2016_tp = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv', engine = 'python')
teamID(df2016_psnl_pit)
df2016_psnl_pit = df2016_psnl_pit.loc[df2016_psnl_pit["GDAY_DS"] < 20160826]
df2016_tp = df2016_tp.loc[df2016_tp['GDAY_DS'] < 20160826]

df16 = pd.DataFrame(columns=columns)
df16['teamID']=team
franchID(df16)
rank(df16,rank16)
w,l,d = WLD(df2016_team_pit)
df16['W'] = w
df16['L'] = l
df16['D'] = d
df16['G'] = G16
df16['Ghome'] =Ghome16
df16['yearID']=2016
wswin(df16, ws_list_16)
run(df2016_team_bat, df16)
ab(df2016_team_bat, df16)
hit(df2016_team_bat, df16)
h2(df2016_team_bat, df16)
h3(df2016_team_bat, df16)
hr(df2016_team_bat, df16)
bb(df2016_team_pit, df16)
kk(df2016_team_pit, df16)
sb(df2016_team_bat, df16)
cs(df2016_team_bat, df16)
hbp(df2016_team_bat, df16)
sf(df2016_team_bat, df16)
ra(df2016_team_pit, df16)
er(df2016_team_pit, df16)
era(df2016_team_pit, df16)
cg(df2016_psnl_pit, df2016_tp, df16)
sho(df2016_psnl_pit, df2016_tp, df16)
error(df2016_team_pit, df16)
gd(df2016_team_pit, df16)

df2017_psnl_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2017.csv', engine = 'python')
df2017_tp = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2017.csv', engine = 'python')
teamID(df2017_psnl_pit)
df2017_psnl_pit = df2017_psnl_pit.loc[df2017_psnl_pit["GDAY_DS"] < 20170823]
df2017_tp = df2017_tp.loc[df2017_tp['GDAY_DS'] < 20170823]

team = df2017_team_pit["teamID"].values[:10]
columns = ['yearID','teamID','franchID', 'Rank', 'G', 'Ghome','W','L','D', 'WSWin', 'RUN', 'AB', 'HIT', 'H2', 'H3', 'HR', 'BB', 'SO', 'SB', 'CS', 'HP', 'SF', 'RA', 'ER', 'ERA', 'CG', 'SHO', 'ERR', 'GD']
df17 = pd.DataFrame(columns=columns)
df17['teamID']=team
franchID(df17)
rank(df17,rank17)
w,l,d = WLD(df2017_team_pit)
df17['W'] = w
df17['L'] = l
df17['D'] = d
df17['G'] = G17
df17['Ghome'] =Ghome17
df17['yearID']=2017
wswin(df17, ws_list_17)
run(df2017_team_bat, df17)
ab(df2017_team_bat, df17)
hit(df2017_team_bat, df17)
h2(df2017_team_bat, df17)
h3(df2017_team_bat, df17)
hr(df2017_team_bat, df17)
bb(df2017_team_pit, df17)
kk(df2017_team_pit, df17)
sb(df2017_team_bat, df17)
cs(df2017_team_bat, df17)
hbp(df2017_team_bat, df17)
sf(df2017_team_bat, df17)
ra(df2017_team_pit, df17)
er(df2017_team_pit, df17)
era(df2017_team_pit, df17)
cg(df2017_psnl_pit, df2017_tp, df17)
sho(df2017_psnl_pit, df2017_tp, df17)
error(df2017_team_pit, df17)
gd(df2017_team_pit, df17)

df2018_psnl_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2018.csv', engine = 'python')
df2018_tp = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2018.csv', engine = 'python')
teamID(df2018_psnl_pit)
df2018_psnl_pit = df2018_psnl_pit.loc[df2018_psnl_pit["GDAY_DS"] < 20180817]
df2018_tp = df2018_tp.loc[df2018_tp['GDAY_DS'] < 20180817]

team = df2018_team_pit["teamID"].values[:10]
columns = ['yearID','teamID','franchID', 'Rank', 'G', 'Ghome','W','L','D', 'WSWin', 'RUN', 'AB', 'HIT', 'H2', 'H3', 'HR', 'BB', 'SO', 'SB', 'CS', 'HP', 'SF', 'RA', 'ER', 'ERA', 'CG', 'SHO', 'ERR', 'GD']
df18 = pd.DataFrame(columns=columns)
df18['teamID']=team
franchID(df18)
rank(df18,rank18)
w,l,d = WLD(df2018_team_pit)
df18['W'] = w
df18['L'] = l
df18['D'] = d
df18['G'] = G18
df18['Ghome'] =Ghome18
df18['yearID']=2018
wswin(df18, ws_list_18)
run(df2018_team_bat, df18)
ab(df2018_team_bat, df18)
hit(df2018_team_bat, df18)
h2(df2018_team_bat, df18)
h3(df2018_team_bat, df18)
hr(df2018_team_bat, df18)
bb(df2018_team_pit, df18)
kk(df2018_team_pit, df18)
sb(df2018_team_bat, df18)
cs(df2018_team_bat, df18)
hbp(df2018_team_bat, df18)
sf(df2018_team_bat, df18)
ra(df2018_team_pit, df18)
er(df2018_team_pit, df18)
era(df2018_team_pit, df18)
cg(df2018_psnl_pit, df2018_tp, df18)
sho(df2018_psnl_pit, df2018_tp, df18)
error(df2018_team_pit, df18)
gd(df2018_team_pit, df18)

df2019_psnl_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2019.csv', engine = 'python')
df2019_tp = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2019.csv', engine = 'python')
teamID(df2019_psnl_pit)
df2019_psnl_pit = df2019_psnl_pit.loc[df2019_psnl_pit["GDAY_DS"] < 20190819]
df2019_tp = df2019_tp.loc[df2019_tp['GDAY_DS'] < 20190819]

team = df2019_team_pit["teamID"].values[:10]
columns = ['yearID','teamID','franchID', 'Rank', 'G', 'Ghome','W','L','D', 'WSWin', 'RUN', 'AB', 'HIT', 'H2', 'H3', 'HR', 'BB', 'SO', 'SB', 'CS', 'HP', 'SF', 'RA', 'ER', 'ERA', 'CG', 'SHO', 'ERR', 'GD']
df19 = pd.DataFrame(columns=columns)
df19['teamID']=team
franchID(df19)
rank(df19,rank19)
w,l,d = WLD(df2019_team_pit)
df19['W'] = w
df19['L'] = l
df19['D'] = d
df19['G'] = G19
df19['Ghome'] =Ghome19
df19['yearID']=2019
wswin(df19, ws_list_19)
run(df2019_team_bat, df19)
ab(df2019_team_bat, df19)
hit(df2019_team_bat, df19)
h2(df2019_team_bat, df19)
h3(df2019_team_bat, df19)
hr(df2019_team_bat, df19)
bb(df2019_team_pit, df19)
kk(df2019_team_pit, df19)
sb(df2019_team_bat, df19)
cs(df2019_team_bat, df19)
hbp(df2019_team_bat, df19)
sf(df2019_team_bat, df19)
ra(df2019_team_pit, df19)
er(df2019_team_pit, df19)
era(df2019_team_pit, df19)
cg(df2019_psnl_pit, df2019_tp, df19)
sho(df2019_psnl_pit, df2019_tp, df19)
error(df2019_team_pit, df19)
gd(df2019_team_pit, df19)

# df2020_psnl_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2020.csv', engine = 'python')
# df2020_tp = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2020.csv', engine = 'python')
# teamID(df2020_psnl_pit)
# df2020_psnl_pit = df2020_psnl_pit.loc[df2020_psnl_pit["GDAY_DS"] < 20200928]
# df2020_tp = df2020_tp.loc[df2020_tp['GDAY_DS'] < 20200928]

# team = df2020_team_pit["teamID"].values[:10]
# columns = ['yearID','teamID','franchID', 'Rank', 'G', 'Ghome','W','L','D', 'WSWin', 'RUN', 'AB', 'HIT', 'H2', 'H3', 'HR', 'BB', 'SO', 'SB', 'CS', 'HP', 'SF', 'RA', 'ER', 'ERA', 'CG', 'SHO', 'ERR', 'GD']
# df20 = pd.DataFrame(columns=columns)
# df20['teamID']=team
# franchID(df20)
# rank(df20,rank20)
# w,l,d = WLD(df2020_team_pit)
# df20['W'] = w
# df20['L'] = l
# df20['D'] = d
# df20['G'] = G20
# df20['Ghome'] =Ghome20
# df20['yearID']=2020
# wswin(df20, ws_list_20)
# run(df2020_team_bat, df20)
# ab(df2020_team_bat, df20)
# hit(df2020_team_bat, df20)
# h2(df2020_team_bat, df20)
# h3(df2020_team_bat, df20)
# hr(df2020_team_bat, df20)
# bb(df2020_team_pit, df20)
# kk(df2020_team_pit, df20)
# sb(df2020_team_bat, df20)
# cs(df2020_team_bat, df20)
# hbp(df2020_team_bat, df20)
# sf(df2020_team_bat, df20)
# ra(df2020_team_pit, df20)
# er(df2020_team_pit, df20)
# era(df2020_team_pit, df20)
# cg(df2020_psnl_pit, df2020_tp, df20)
# sho(df2020_psnl_pit, df2020_tp, df20)
# error(df2020_team_pit, df20)
# gd(df2020_team_pit, df20)

In [54]:
df16

,yearID,teamID,franchID,Rank,G,Ghome,W,L,D,WSWin,...,CS,HP,SF,RA,ER,ERA,CG,SHO,ERR,GD
0,2016,LG,SO,4,113.2,55,54,58,1,0,...,56,59,40,664,593,5.281,2,1,13,98
1,2016,HH,DJ,7,113.2,55,49,61,3,0,...,32,62,29,732,660,5.864,6,1,23,85
2,2016,NC,MS,2,113.2,51,64,42,2,0,...,26,72,43,533,492,4.611,1,3,11,84
3,2016,HT,GJ,5,113.2,56,56,58,1,0,...,37,77,36,641,578,5.093,1,1,14,96
4,2016,SK,IC,6,113.2,60,58,59,0,0,...,49,79,42,622,543,4.716,1,1,16,103
5,2016,KT,SW,10,113.2,57,42,67,2,0,...,37,37,32,732,659,6.005,2,1,17,92
6,2016,WO,SO,3,113.2,63,64,49,1,0,...,61,46,43,588,542,4.779,1,1,9,76
7,2016,LT,BS,8,113.2,55,51,62,0,0,...,49,57,35,670,616,5.577,1,0,10,91
8,2016,SS,DG,9,113.2,55,49,63,1,0,...,45,66,45,682,631,5.649,0,0,6,82
9,2016,OB,SO,1,113.2,59,73,41,1,1,...,36,73,56,554,512,4.475,0,0,5,106

In [55]:
df17

,yearID,teamID,franchID,Rank,G,Ghome,W,L,D,WSWin,...,CS,HP,SF,RA,ER,ERA,CG,SHO,ERR,GD
0,2017,OB,SO,2,113.6,58,65,46,2,0,...,23,74,40,543,503,4.482,5,5,12,91
1,2017,HH,DJ,8,113.6,54,47,64,1,0,...,36,75,29,644,587,5.353,1,3,8,102
2,2017,SS,DG,9,113.6,57,45,66,4,0,...,33,62,41,714,655,5.778,4,2,12,107
3,2017,HT,GJ,1,113.6,57,69,41,1,1,...,26,75,45,564,529,4.780,3,3,11,105
4,2017,SK,IC,5,113.6,61,58,58,1,0,...,35,102,30,626,581,5.054,3,1,23,100
5,2017,KT,SW,10,113.6,55,36,76,0,0,...,37,49,31,661,608,5.630,1,1,11,95
6,2017,WO,SO,7,113.6,63,60,55,1,0,...,28,66,38,593,556,4.871,1,1,4,98
7,2017,LG,SO,6,113.6,56,56,52,1,0,...,45,77,40,497,449,4.186,1,1,10,78
8,2017,NC,MS,4,113.6,53,65,49,1,0,...,29,106,39,557,494,4.347,1,1,13,102
9,2017,LT,BS,3,113.6,54,60,54,2,0,...,39,97,24,596,548,4.745,1,0,8,95

In [56]:
df18

,yearID,teamID,franchID,Rank,G,Ghome,W,L,D,WSWin,...,CS,HP,SF,RA,ER,ERA,CG,SHO,ERR,GD
0,2018,WO,SO,4,113.8,60,61,57,0,0,...,28,69,43,624,576,4.926,4,2,13,111
1,2018,HH,DJ,3,113.8,57,62,52,0,0,...,51,71,24,582,535,4.772,3,1,9,81
2,2018,HT,GJ,5,113.8,57,51,59,0,0,...,28,76,35,621,576,5.357,4,3,5,77
3,2018,KT,SW,9,113.8,57,47,64,2,0,...,47,39,21,647,593,5.353,2,2,7,117
4,2018,NC,MS,10,113.8,59,47,68,1,0,...,26,76,32,668,617,5.439,1,0,13,88
5,2018,LG,SO,8,113.8,56,56,59,1,0,...,28,58,42,657,604,5.326,0,0,6,86
6,2018,SK,IC,1,113.8,54,62,49,1,1,...,31,93,29,552,501,4.553,0,0,10,84
7,2018,LT,BS,7,113.8,57,51,57,2,0,...,25,62,31,632,573,5.253,0,0,8,86
8,2018,OB,SO,2,113.8,56,73,40,0,0,...,18,66,49,598,570,5.074,0,0,7,102
9,2018,SS,DG,6,113.8,56,54,59,3,0,...,45,71,39,645,594,5.179,0,0,8,85

In [57]:
df19

,yearID,teamID,franchID,Rank,G,Ghome,W,L,D,WSWin,...,CS,HP,SF,RA,ER,ERA,CG,SHO,ERR,GD
0,2019,OB,SO,1,113.8,58,68,46,0,1,...,40,56,35,445,400,3.553,2,1,15,94
1,2019,HH,DJ,9,113.8,53,44,70,0,0,...,32,46,38,608,560,5.033,3,3,15,95
2,2019,SK,IC,3,113.8,55,74,40,1,0,...,36,39,39,434,394,3.419,1,2,6,85
3,2019,KT,SW,6,113.8,53,56,58,1,0,...,39,58,39,548,504,4.456,2,1,8,95
4,2019,HT,GJ,7,113.8,62,49,63,1,0,...,25,56,35,574,524,4.735,2,1,14,83
5,2019,LG,SO,4,113.8,56,61,51,1,0,...,35,65,46,519,449,4.006,1,2,18,90
6,2019,NC,MS,5,113.8,57,56,56,1,0,...,29,61,70,516,464,4.139,1,0,13,87
7,2019,SS,DG,8,113.8,55,46,64,1,0,...,42,74,32,560,503,4.590,1,0,6,92
8,2019,LT,BS,10,113.8,56,42,69,2,0,...,32,66,41,636,571,5.134,2,0,10,83
9,2019,WO,SO,2,113.8,64,69,48,0,0,...,29,54,44,503,454,3.929,0,0,9,87

In [58]:
df = pd.concat([df16, df17, df18, df19])
# df = pd.concat([df16,df17,df18,df19,df20])
df = df.sort_values(by=['yearID', 'teamID'], ascending=True)
df.to_csv("preprocessing(2016-2019).csv", index= False, encoding='cp949')