# 2016~2019 data preprocessing(113G)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df2016_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv', engine = 'python')
df2016_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2016.csv', engine = 'python')
df2017_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2017.csv', engine = 'python')
df2017_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2017.csv', engine = 'python')
df2018_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2018.csv', engine = 'python')
df2018_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2018.csv', engine = 'python')
df2019_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2019.csv', engine = 'python')
df2019_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2019.csv', engine = 'python')
# df2020_team_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2020.csv', engine = 'python')
# df2020_team_bat = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2020.csv', engine = 'python')

In [3]:
# type(df["GDAY_DS"][0])

In [4]:
df2016_team_pit = df2016_team_pit.loc[df2016_team_pit["GDAY_DS"] < 20160826] #2016년도의 113경기만큼을 분리
df2016_team_bat = df2016_team_bat.loc[df2016_team_bat["GDAY_DS"] < 20160826]
df2017_team_pit = df2017_team_pit.loc[df2017_team_pit["GDAY_DS"] < 20170823] #2017년도의 113경기만큼을 분리
df2017_team_bat = df2017_team_bat.loc[df2017_team_bat["GDAY_DS"] < 20170823]
df2018_team_pit = df2018_team_pit.loc[df2018_team_pit["GDAY_DS"] < 20180817] #2018년도의 113경기만큼을 분리
df2018_team_bat = df2018_team_bat.loc[df2018_team_bat["GDAY_DS"] < 20180817]
df2019_team_pit = df2019_team_pit.loc[df2019_team_pit["GDAY_DS"] < 20190819] #2019년도의 113경기만큼을 분리
df2019_team_bat = df2019_team_bat.loc[df2019_team_bat["GDAY_DS"] < 20190819]
# df2020_team_pit = df2020_team_pit.loc[df2020_team_pit["GDAY_DS"] < 20200928] #2020년도의 113경기만큼을 분리
# df2020_team_bat = df2020_team_bat.loc[df2020_team_bat["GDAY_DS"] < 20200928]

## Generate yearID

In [5]:
def yearID(df, year):
    df['G_ID'] = year
    df.rename(columns={'G_ID':'yearID'}, inplace =True)

In [6]:
yearID(df2016_team_pit,2016)
yearID(df2016_team_bat,2016)
yearID(df2017_team_pit,2017)
yearID(df2017_team_bat,2017)
yearID(df2018_team_pit,2018)
yearID(df2018_team_bat,2018)
yearID(df2019_team_pit,2019)
yearID(df2019_team_bat,2019)
# yearID(df2020_team_pit,2020)
# yearID(df2020_team_bat,2020)

## Generate teamID

In [7]:
def teamID(df):
    df.rename(columns={'T_ID':'teamID'}, inplace =True)

In [8]:
teamID(df2016_team_pit)
teamID(df2016_team_bat)
teamID(df2017_team_pit)
teamID(df2017_team_bat)
teamID(df2018_team_pit)
teamID(df2018_team_bat)
teamID(df2019_team_pit)
teamID(df2019_team_bat)
# teamID(df2020_team_pit)
# teamID(df2020_team_bat)

## Generate franchID

In [9]:
# 팀투수 데이터 기준
def franchID(df):
    franchID = []
    for i in df['teamID']:
        if i == 'HH':
            franchID.append('DJ')
        elif i == 'HT':
            franchID.append('GJ')
        elif i == 'KT':
            franchID.append('SW')
        elif i == 'LG':
            franchID.append('SO')
        elif i == 'LT':
            franchID.append('BS')
        elif i == 'NC':
            franchID.append('MS')
        elif i == 'OB':
            franchID.append('SO')
        elif i == 'SK':
            franchID.append('IC')
        elif i == 'SS':
            franchID.append('DG')
        elif i == 'WO':
            franchID.append('SO')
    df['franchID'] = franchID

In [10]:
franchID(df2016_team_pit)
franchID(df2016_team_bat)
franchID(df2017_team_pit)
franchID(df2017_team_bat)
franchID(df2018_team_pit)
franchID(df2018_team_bat)
franchID(df2019_team_pit)
franchID(df2019_team_bat)
# franchID(df2020_team_pit)
# franchID(df2020_team_bat)

In [11]:
def rank(df,rank_list):
    rank = []
    for i in df['teamID']:
        if i == 'HH':
            rank.append(rank_list[0])
        elif i == 'HT':
            rank.append(rank_list[1])
        elif i == 'KT':
            rank.append(rank_list[2])
        elif i == 'LG':
            rank.append(rank_list[3])
        elif i == 'LT':
            rank.append(rank_list[4])
        elif i == 'NC':
             rank.append(rank_list[5])
        elif i == 'OB':
            rank.append(rank_list[6])
        elif i == 'SK':
            rank.append(rank_list[7])
        elif i == 'SS':
            rank.append(rank_list[8])
        elif i == 'WO':
            rank.append(rank_list[9])
    df['Rank'] = rank

## W,L,D 추가 및 연도별 데이터 전환

경기 결과에 따라 0,1,2(W,L,D)로 변환

In [12]:
def WLS(df):
    WLS = []
    for i in df['WLS']:
        if i == 'W':
            WLS.append(0)
        elif i == 'L':
            WLS.append(1)
        else:
            WLS.append(2)

    df['WLS'] = WLS

In [13]:
WLS(df2016_team_pit)
WLS(df2017_team_pit)
WLS(df2018_team_pit)
WLS(df2019_team_pit)
# WLS(df2020_team_bat)

In [14]:
def WLD(df):
    team=df['teamID'].values[:10]
    W=[]
    L=[]
    D=[]
    for i in team:
        w,l,d = 0,0,0
        for j in df[df["teamID"]==i]['WLS']:
            if j == 0:
                w += 1
            elif j == 1:
                l += 1
            else:
                d += 1
        W.append(w)
        L.append(l)
        D.append(d)
    return W,L,D

## G, Ghome 세기

In [15]:
def Gtotal(df):
    G = len(df['GDAY_DS'])/10
    return G

def Ghome(df):
    Ghome=[]
    team = df["teamID"].values[:10]
    for i in team:
        ghome =0
        for j in df[df['teamID']==i]['TB_SC']:
            if j == 'B':
                ghome += 1
        Ghome.append(ghome)
    return Ghome

## 연간 데이터 만들기

In [16]:
#[한화, 기아, KT, LG, 롯데, NC, 두산, SK, 삼성, 키움]
rank16 = [7,5,10,4,8,2,1,6,9,3]
rank17 = [8,1,10,6,3,4,2,5,9,7]
rank18 = [3,5,9,8,7,10,2,1,6,4]
rank19 = [9,7,6,4,10,5,1,3,8,2]
# rank20 = [10,5,6,3,7,1,4,9,8,2]

In [17]:
G16 = Gtotal(df2016_team_pit)
G17 = Gtotal(df2017_team_pit)
G18 = Gtotal(df2018_team_pit)
G19 = Gtotal(df2019_team_pit)
# G20 = Gtotal(df2020_team_pit)

In [18]:
Ghome16 = Ghome(df2016_team_pit)
Ghome17 = Ghome(df2017_team_pit)
Ghome18 = Ghome(df2018_team_pit)
Ghome19 = Ghome(df2019_team_pit)
# Ghome20 = Ghome(df2020_team_pit)

## WSWin : 한국시리즈 우승

In [19]:
def wswin(df, ws_list):
    wswin = []
    for i in df['teamID']:
        if i == 'HH':
            wswin.append(ws_list[0])
        elif i == 'HT':
            wswin.append(ws_list[1])
        elif i == 'KT':
            wswin.append(ws_list[2])
        elif i == 'LG':
            wswin.append(ws_list[3])
        elif i == 'LT':
            wswin.append(ws_list[4])
        elif i == 'NC':
            wswin.append(ws_list[5])
        elif i == 'OB':
            wswin.append(ws_list[6])
        elif i == 'SK':
            wswin.append(ws_list[7])
        elif i == 'SS':
            wswin.append(ws_list[8])
        elif i == 'WO':
            wswin.append(ws_list[9])
    df['WSWin'] = wswin

In [20]:
#[한화, 기아, KT, LG, 롯데, NC, 두산, SK, 삼성, 키움], 각 년도별 우승팀에게 1, 나머지 팀에게 0
ws_list_16 = [0, 0, 0, 0, 0, 0, 1, 0, 0, 0]
ws_list_17 = [0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
ws_list_18 = [0, 0, 0, 0, 0, 0, 0, 1, 0, 0]
ws_list_19 = [0, 0, 0, 0, 0, 0, 1, 0, 0, 0]
# ws_list_20 = [0, 0, 0, 0, 0, 0, 0, 0, 0]

## R : 득점

In [21]:
def run(df, df_):  # df에 타자 데이터 넣을 것
    #df_ means dataframe that we will return as outcome
    r_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in r_dict:
            r_dict[temp] = df['RUN'][i]
        else:
            r_dict[temp] += df['RUN'][i]
    df_['RUN'] = list(r_dict.values())
#     return list(r_dict.values())

In [22]:
# run(df2016_team_bat)

## 타석 수

In [23]:
# df2016_team_bat

In [24]:
def ab(df, df_):  # df에 타자 데이터 넣을 것
    AB_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in AB_dict:
            AB_dict[temp] = df['AB'][i]
        else:
            AB_dict[temp] += df['AB'][i]
    df_['AB'] = list(AB_dict.values())
#     return AB_dict

In [25]:
# ab(df2016_team_bat)

## 안타 수

In [26]:
def hit(df, df_):  # df에 타자 데이터 넣을 것
    HIT_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in HIT_dict:
            HIT_dict[temp] = df['HIT'][i]
        else:
            HIT_dict[temp] += df['HIT'][i]
    df_['HIT'] = list(HIT_dict.values())
#     return HIT_dict.valess

In [27]:
# hit(df2016_team_bat)

## 2루타

In [28]:
def h2(df, df_):  # df에 타자 데이터 넣을 것
    H2_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in H2_dict:
            H2_dict[temp] = df['H2'][i]
        else:
            H2_dict[temp] += df['H2'][i]
    df_['H2'] = list(H2_dict.values())
#     return H2_dict

In [29]:
# h2(df2016_team_bat)

## 3루타

In [30]:
def h3(df, df_):  # df에 타자 데이터 넣을 것
    H3_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in H3_dict:
            H3_dict[temp] = df['H3'][i]
        else:
            H3_dict[temp] += df['H3'][i]
    df_['H3'] = list(H3_dict.values())
#     return H3_dict

In [31]:
# h3(df2016_team_bat)

## 홈런

In [32]:
def hr(df, df_):  # df에 타자 데이터 넣을 것
    HR_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in HR_dict:
            HR_dict[temp] = df['HR'][i]
        else:
            HR_dict[temp] += df['HR'][i]
    df_['HR'] = list(HR_dict.values())
#     return HR_dict

In [33]:
# hr(df2016_team_bat)

## 사사구

In [34]:
def bb(df, df_):  #df에 투수 데이터 넣을 것
    BB_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in BB_dict:
            BB_dict[temp] = df['BB'][i]
        else:
            BB_dict[temp] += df['BB'][i]
    df_['BB'] = list(BB_dict.values())
#     return BB_dict

In [35]:
# bb(df2016_team_pit)

## 삼진

In [36]:
def kk(df, df_):  #df에 투수 데이터 넣을 것
    KK_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in KK_dict:
            KK_dict[temp] = df['KK'][i]
        else:
            KK_dict[temp] += df['KK'][i]
    df_['SO'] = list(KK_dict.values())
#     return KK_dict

## 도루

In [37]:
def sb(df, df_):  # df에 타자 데이터 넣을 것
    sb_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in sb_dict:
            sb_dict[temp] = df['SB'][i]
        else:
            sb_dict[temp] += df['SB'][i]
    df_['SB'] = list(sb_dict.values())
#     return list(sb_dict.values())

## 도루 실패

In [38]:
def cs(df, df_):  # df에 타자 데이터 넣을 것
    cs_dict = {}
    for i in range(len(df['teamID'])):
        temp = df['teamID'][i]
        if temp not in cs_dict:
            cs_dict[temp] = df['CS'][i]
        else:
            cs_dict[temp] += df['CS'][i]
    df_['CS'] = list(cs_dict.values())

## 몸에 맞는 볼

In [39]:
def hbp(df, df_):  # df에 타자 데이터 넣을 것
    hbp_dict = {}
    for i in range(len(df['teamID'])):
        tmp = df['teamID'][i]
        if tmp not in hbp_dict:
            hbp_dict[tmp] = df['HP'][i]
        else:
            hbp_dict[tmp] += df['HP'][i]
    df_['HP'] = list(hbp_dict.values())

## 희생플라이

In [40]:
def sf(df, df_):  # df에 타자 데이터 넣을 것
    sf_dict = {}
    for i in range(len(df['teamID'])):
        tmp = df['teamID'][i]
        if tmp not in sf_dict:
            sf_dict[tmp] = df['SF'][i]
        else:
            sf_dict[tmp] += df['SF'][i]
    df_['SF'] = list(sf_dict.values())

## 득점 허용(RA) : 자책 + 비자책

In [41]:
def ra(df, df_):  # df에 투수 데이터 넣을 것
    ra_dict = {}
    for i in range(len(df['teamID'])):
        tmp = df['teamID'][i]
        if tmp not in ra_dict:
            ra_dict[tmp] = df['R'][i]
        else:
            ra_dict[tmp] += df['R'][i]
    df_['RA'] = list(ra_dict.values())

## 득점 허용(ER) : 자책

In [42]:
def er(df, df_):  # df에 투수 데이터 넣을 것
    er_dict = {}
    for i in range(len(df['teamID'])):
        tmp = df['teamID'][i]
        if tmp not in er_dict:
            er_dict[tmp] = df['ER'][i]
        else:
            er_dict[tmp] += df['ER'][i]
    df_['ER'] = list(er_dict.values())

## 팀 방어율(ERA) : ER*9/inning

In [45]:
def era(df, df_):  # df에 투수 데이터 넣을 것
    inn_dict = {}
    for i in range(len(df['teamID'])):
        tmp = df['teamID'][i]
        if tmp not in inn_dict:
            inn_dict[tmp] = df['INN2'][i]/3
        else:
            inn_dict[tmp] += df['INN2'][i]/3
    er_dict = {}
    for j in range(len(df['teamID'])):
        tmp = df['teamID'][j]
        if tmp not in er_dict:
            er_dict[tmp] = df['ER'][j]*9
        else:
            er_dict[tmp] += df['ER'][j]*9
    era_lst = []
    for k in range(len(inn_dict.keys())):
        era_lst.append(round(list(er_dict.values())[k]/list(inn_dict.values())[k], 3))
    df_['ERA'] = era_lst

## 완투(CG) : 선발로 나온 투수가 전 이닝을 책임(승패 여부 상관 x)

In [46]:
df2016_psnl_pit = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2016.csv', engine = 'python')
df2016_tp = pd.read_csv('data/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv', engine = 'python')
teamID(df2016_psnl_pit)
df2016_psnl_pit = df2016_psnl_pit.loc[df2016_psnl_pit["GDAY_DS"] < 20160826] 
df2016_psnl_pit
# df2016_tp

,G_ID,GDAY_DS,teamID,VS_T_ID,HEADER_NO,TB_SC,P_ID,START_CK,RELIEF_CK,CG_CK,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
0,20160401HHLG0,20160401,LG,HH,0,B,60146,0,1,0,...,3,0,0,0,0,0,0,0.000000,1.000000,1.500000
1,20160401HHLG0,20160401,LG,HH,0,B,61891,0,1,0,...,1,0,0,0,0,0,0,0.000000,1.800000,1.500000
2,20160401HHLG0,20160401,LG,HH,0,B,62146,0,1,0,...,0,0,0,0,0,0,0,0.000000,3.000000,0.000000
3,20160401HHLG0,20160401,LG,HH,0,B,62698,1,0,0,...,4,1,0,0,0,4,4,0.818182,1.588235,3.750000
4,20160401HHLG0,20160401,HH,LG,0,T,65764,0,1,0,...,1,0,0,0,0,1,1,0.000000,1.500000,0.000000
5,20160401HHLG0,20160401,LG,HH,0,B,70839,0,1,0,...,1,0,0,0,0,0,0,0.000000,0.000000,0.000000
6,20160401HHLG0,20160401,LG,HH,0,B,71118,0,1,0,...,1,0,0,0,0,0,0,0.000000,0.000000,0.000000
7,20160401HHLG0,20160401,HH,LG,0,T,72447,0,1,0,...,2,0,0,0,0,0,0,0.000000,0.500000,1.500000
8,20160401HHLG0,20160401,HH,LG,0,T,73801,1,0,0,...,4,0,0,0,0,3,3,1.500000,1.500000,1.500000
9,20160401HHLG0,20160401,HH,LG,0,T,74731,0,1,0,...,1,0,0,0,0,1,0,0.000000,6.000000,0.000000
10,20160401HHLG0,20160401,HH,LG,0,T,74857,0,1,0,...,2,0,0,0,0,0,0,0.000000,0.000000,0.000000
11,20160401HHLG0,20160401,HH,LG,0,T,99737,0,1,0,...,1,0,1,0,0,0,0,1.000000,1.200000,0.000000
12,20160401HTNC0,20160401,NC,HT,0,B,62966,0,1,0,...,2,0,0,0,0,0,0,0.000000,1.000000,0.000000
13,20160401HTNC0,20160401,NC,HT,0,B,63938,1,0,0,...,5,1,2,0,0,4,4,1.200000,1.125000,2.400000
14,20160401HTNC0,20160401,HT,NC,0,T,66628,0,1,0,...,2,0,0,0,0,1,1,1.000000,2.000000,1.500000
15,20160401HTNC0,20160401,NC,HT,0,B,75867,0,1,0,...,0,0,0,0,0,0,0,6.000000,1.500000,0.000000
16,20160401HTNC0,20160401,HT,NC,0,T,77637,1,0,0,...,7,1,0,0,0,4,4,0.000000,1.588235,2.000000
17,20160401HTNC0,20160401,NC,HT,0,B,78352,0,1,0,...,3,0,0,0,0,0,0,0.000000,0.000000,0.000000
18,20160401KTSK0,20160401,SK,KT,0,B,62056,0,1,0,...,0,0,0,0,0,0,0,0.000000,0.000000,3.000000
19,20160401KTSK0,20160401,KT,SK,0,T,64001,0,1,0,...,0,0,0,0,0,0,0,0.000000,0.000000,0.000000
20,20160401KTSK0,20160401,SK,KT,0,B,64893,0,1,0,...,0,0,0,0,0,0,0,0.000000,0.000000,0.000000
21,20160401KTSK0,20160401,KT,SK,0,T,66049,1,0,0,...,2,0,0,0,0,4,4,3.000000,1.750000,0.000000
22,20160401KTSK0,20160401,SK,KT,0,B,71845,0,1,0,...,2,0,0,0,0,0,0,0.000000,0.000000,3.000000
23,20160401KTSK0,20160401,SK,KT,0,B,72523,0,1,0,...,1,0,0,0,0,1,1,0.000000,0.000000,0.000000
24,20160401KTSK0,20160401,KT,SK,0,T,75149,0,1,0,...,2,0,0,0,0,0,0,0.000000,0.000000,0.000000
25,20160401KTSK0,20160401,KT,SK,0,T,77318,0,1,0,...,3,1,0,0,0,0,0,0.000000,0.000000,1.500000
26,20160401KTSK0,20160401,SK,KT,0,B,77829,1,0,0,...,4,0,0,0,0,7,7,1.500000,2.357143,1.800000
27,20160401LTWO0,20160401,WO,LT,0,B,60339,0,1,0,...,0,0,0,0,0,0,0,0.000000,2.000000,0.000000
28,20160401LTWO0,20160401,WO,LT,0,B,65331,1,0,0,...,5,2,0,0,0,2,1,0.300000,1.500000,1.285714
29,20160401LTWO0,20160401,LT,WO,0,T,65543,1,0,0,...,5,0,0,0,0,0,0,0.000000,1.500000,1.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4953,20160824WOHH0,20160824,WO,HH,0,T,75342,0,1,0,...,0,1,0,0,0,0,0,0.000000,0.000000,3.000000
4954,20160824WOHH0,20160824,WO,HH,0,T,76430,0,1,0,...,1,0,0,0,0,0,0,0.000000,1.500000,0.000000
4955,20160824WOHH0,20160824,HH,WO,0,B,78760,0,1,0,...,0,0,0,0,0,1,1,0.000000,0.000000,0.000000
4956,20160824WOHH0,20160824,HH,WO,0,B,79764,0,1,0,...,0,0,0,0,0,1,1,0.000000,0.000000,1.500000
4957,20160824WOHH0,20160824,HH,WO,0,B,99737,0,1,0,...,1,0,0,0,0,0,0,0.000000,0.000000,0.000000
4958,20160825LGWO0,20160825,WO,LG,0,B,60339,0,1,0,...,1,1,0,0,0,2,2,0.000000,0.000000,0.600000
4959,20160825LGWO0,20160825,WO,LG,0,B,60342,0,1,0,...,0,0,0,0,0,0,0,0.000000,0.000000,0.000000
4960,20160825LGWO0,20160825,WO,LG,0,B,65320,1,0,0,...,2,0,0,0,0,6,6,6.000000,3.000000,6.000000
4961,20160825LGWO0,20160825,LG,WO,0,T,66138,1,0,0,...,6,1,0,0,0,4,4,1.500000,0.750000,2.142857
4962,20160825LGWO0,20160825,LG,WO,0,T,71118,0,1,0,...,0,1,0,0,0,0,0,0.000000,0.000000,0.000000
4963,20160825LGWO0,20160825,WO,LG,0,B,75258,0,1,0,...,2,1,0,0,0,1,1,2.250000,3.600000,1.000000
4964,20160825NCHH0,20160825,HH,NC,0,B,60764,0,1,0,...,0,0,0,0,0,0,0,0.000000,0.000000,3.000000
4965,20160825NCHH0,20160825,NC,HH,0,T,63938,1,0,0,...,7,1,0,0,0,1,1,0.000000,0.000000,0.857143
4966,20160825NCHH0,20160825,NC,HH,0,T,66960,0,1,0,...,0,0,0,0,0,0,0,0.000000,0.000000,0.000000
4967,20160825NCHH0,20160825,HH,NC,0,B,73801,1,0,0,...,4,0,0,0,0,12,12,4.500000,6.000000,3.750000
4968,20160825NCHH0,20160825,HH,NC,0,B,74748,0,1,0,...,1,1,0,0,0,0,0,0.000000,0.000000,0.000000
4969,20160825NCHH0,20160825,HH,NC,0,B,78760,0,1,0,...,4,0,0,0,0,1,1,0.000000,0.000000,0.000000
4970,20160825SKKT0,20160825,KT,SK,0,B,64001,0,1,0,...,3,0,0,0,0,1,1,1.500000,2.250000,6.000000
4971,20160825SKKT0,20160825,KT,SK,0,B,65057,0,1,0,...,1,0,0,0,0,0,0,0.000000,0.000000,0.000000
4972,20160825SKKT0,20160825,KT,SK,0,B,65058,1,0,0,...,6,1,0,0,0,0,0,0.000000,0.571429,0.857143
4973,20160825SKKT0,20160825,SK,KT,0,T,65856,1,0,0,...,8,1,0,0,0,0,0,0.000000,0.521739,0.333333
4974,20160825SKKT0,20160825,SK,KT,0,T,71845,0,1,0,...,0,0,0,0,0,0,0,0.000000,3.000000,0.000000
4975,20160825SKKT0,20160825,SK,KT,0,T,76858,0,1,0,...,0,1,0,0,0,0,0,0.000000,0.000000,0.000000
4976,20160825SSHT0,20160825,HT,SS,0,B,60636,0,1,0,...,0,0,0,0,0,0,0,3.000000,1.500000,0.000000
4977,20160825SSHT0,20160825,SS,HT,0,T,66451,1,0,0,...,3,0,0,0,0,5,5,2.000000,2.100000,4.000000
4978,20160825SSHT0,20160825,HT,SS,0,B,66643,1,0,0,...,3,0,0,0,0,3,3,0.500000,0.857143,0.375000
4979,20160825SSHT0,20160825,HT,SS,0,B,70142,0,1,0,...,0,0,0,0,0,0,0,0.000000,0.000000,0.000000
4980,20160825SSHT0,20160825,SS,HT,0,T,79440,0,1,0,...,2,0,0,0,0,1,1,0.750000,1.714286,2.000000
4981,20160825SSHT0,20160825,HT,SS,0,B,95657,0,1,0,...,0,0,0,0,0,0,0,0.000000,0.000000,0.000000
4982,20160825SSHT0,20160825,HT,SS,0,B,97336,0,1,0,...,0,0,0,0,0,1,1,0.000000,0.000000,0.000000

In [47]:
df2016_tp['G_ID']

0       20160401HHLG0
1       20160401HHLG0
2       20160401HTNC0
3       20160401HTNC0
4       20160401KTSK0
5       20160401KTSK0
6       20160401LTWO0
7       20160401LTWO0
8       20160401OBSS0
9       20160401OBSS0
10      20160402HHLG0
11      20160402HHLG0
12      20160402HTNC0
13      20160402HTNC0
14      20160402KTSK0
15      20160402KTSK0
16      20160402LTWO0
17      20160402LTWO0
18      20160402OBSS0
19      20160402OBSS0
20      20160403KTSK0
21      20160403KTSK0
22      20160403LTWO0
23      20160403LTWO0
24      20160405LGHT0
25      20160405LGHT0
26      20160405NCOB0
27      20160405NCOB0
28      20160405SKLT0
29      20160405SKLT0
            ...
1410    20161004LTOB0
1411    20161004LTOB0
1412    20161004WONC0
1413    20161004WONC0
1414    20161005HHKT0
1415    20161005HHKT0
1416    20161005HTSS0
1417    20161005HTSS0
1418    20161005WONC0
1419    20161005WONC0
1420    20161006LGLT0
1421    20161006LGLT0
1422    20161006SKNC0
1423    20161006SKNC0
1424    20161006SSHT0
1425    20161006SSHT0
1426    20161007KTNC0
1427    20161007KTNC0
1428    20161007WOLT0
1429    20161007WOLT0
1430    20161008HTHH0
1431    20161008HTHH0
1432    20161008OBLG0
1433    20161008OBLG0
1434    20161008SSSK0
1435    20161008SSSK0
1436    20161009KTNC0
1437    20161009KTNC0
1438    20161009WOLT0
1439    20161009WOLT0
Name: G_ID, Length: 1440, dtype: object

In [48]:
df2016_psnl_pit['G_ID'][10]

'20160401HHLG0'

In [61]:
df2016_tp = df2016_tp[(df2016_tp['G_ID'] == df2016_psnl_pit['G_ID'][20]) & (df2016_tp['T_ID'] == df2016_psnl_pit['teamID'][20])]
# df2016_tp = df2016_tp[(df2016_tp['G_ID'] == df2016_psnl_pit['G_ID'][15]) & (df2016_tp['T_ID'] == df2016_psnl_pit['teamID'][15])]
# type(df2016_tp['INN2'])
df2016_tp['INN2'].values[0]

27

In [67]:
def cg(df1, df2):
# def cg(df1, df2, df_):  # df1에는 개인투수, df2에는 전처리 되지 않은 팀투수 원본 데이터 투입
    cg_dict = {}
    for i in range(len(df1['teamID'])):
        tmp = df1['teamID'][i]
        if df1['START_CK'][i] == 1:
            df2 = df2[(df2['G_ID'] == df1['G_ID'][i]) & (df2['T_ID'] == df1['teamID'][i])]
            print(df2)
            if df1['INN2'][i] == df2['INN2'].values[0]:
                if tmp not in cg_dict:
                    cg_dict[tmp] = 1
                else:
                    cg_dict[tmp] += 1
    return cg_dict

In [68]:
cg(df2016_psnl_pit, df2016_tp)

Empty DataFrame
Columns: [G_ID, GDAY_DS, T_ID, VS_T_ID, HEADER_NO, TB_SC, CG_CK, WLS, HOLD, INN2, BF, PA, AB, HIT, H2, H3, HR, SB, CS, SH, SF, BB, IB, HP, KK, GD, WP, BK, ERR, R, ER, P_WHIP_RT, P2_WHIP_RT, CB_WHIP_RT]
Index: []

[0 rows x 34 columns]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
team = df2016_team_pit["teamID"].values[:10]
columns = ['yearID','teamID','franchID', 'Rank', 'G', 'Ghome','W','L','D', 'WSWin', 'RUN', 'AB', 'HIT', 'H2', 'H3', 'HR', 'BB', 'SO']
df16 = pd.DataFrame(columns=columns)
df16['teamID']=team
franchID(df16)
rank(df16,rank16)
w,l,d = WLD(df2016_team_pit)
df16['W'] = w
df16['L'] = l
df16['D'] = d
df16['G'] = G16
df16['Ghome'] =Ghome16
df16['yearID']=2016
wswin(df16, ws_list_16)
run(df2016_team_bat, df16)
ab(df2016_team_bat, df16)
hit(df2016_team_bat, df16)
h2(df2016_team_bat, df16)
h3(df2016_team_bat, df16)
hr(df2016_team_bat, df16)
bb(df2016_team_pit, df16)
kk(df2016_team_pit, df16)

team = df2017_team_pit["teamID"].values[:10]
columns = ['yearID','teamID','franchID', 'Rank', 'G', 'Ghome','W','L','D', 'WSWin', 'RUN', 'AB', 'HIT', 'H2', 'H3', 'HR', 'BB', 'SO']
df17 = pd.DataFrame(columns=columns)
df17['teamID']=team
franchID(df17)
rank(df17,rank17)
w,l,d = WLD(df2017_team_pit)
df17['W'] = w
df17['L'] = l
df17['D'] = d
df17['G'] = G17
df17['Ghome'] =Ghome17
df17['yearID']=2017
wswin(df17, ws_list_17)
run(df2017_team_bat, df17)
ab(df2017_team_bat, df17)
hit(df2017_team_bat, df17)
h2(df2017_team_bat, df17)
h3(df2017_team_bat, df17)
hr(df2017_team_bat, df17)
bb(df2017_team_pit, df17)
kk(df2017_team_pit, df17)

team = df2018_team_pit["teamID"].values[:10]
columns = ['yearID','teamID','franchID', 'Rank', 'G', 'Ghome','W','L','D', 'WSWin', 'RUN', 'AB', 'HIT', 'H2', 'H3', 'HR', 'BB', 'SO']
df18 = pd.DataFrame(columns=columns)
df18['teamID']=team
franchID(df18)
rank(df18,rank18)
w,l,d = WLD(df2018_team_pit)
df18['W'] = w
df18['L'] = l
df18['D'] = d
df18['G'] = G18
df18['Ghome'] =Ghome18
df18['yearID']=2018
wswin(df18, ws_list_18)
run(df2018_team_bat, df18)
ab(df2018_team_bat, df18)
hit(df2018_team_bat, df18)
h2(df2018_team_bat, df18)
h3(df2018_team_bat, df18)
hr(df2018_team_bat, df18)
bb(df2018_team_pit, df18)
kk(df2018_team_pit, df18)

team = df2019_team_pit["teamID"].values[:10]
columns = ['yearID','teamID','franchID', 'Rank', 'G', 'Ghome','W','L','D', 'WSWin', 'RUN', 'AB', 'HIT', 'H2', 'H3', 'HR', 'BB', 'SO']
df19 = pd.DataFrame(columns=columns)
df19['teamID']=team
franchID(df19)
rank(df19,rank19)
w,l,d = WLD(df2019_team_pit)
df19['W'] = w
df19['L'] = l
df19['D'] = d
df19['G'] = G19
df19['Ghome'] =Ghome19
df19['yearID']=2019
wswin(df19, ws_list_19)
run(df2019_team_bat, df19)
ab(df2019_team_bat, df19)
hit(df2019_team_bat, df19)
h2(df2019_team_bat, df19)
h3(df2019_team_bat, df19)
hr(df2019_team_bat, df19)
bb(df2019_team_pit, df19)
kk(df2019_team_pit, df19)

# team = df2020_team_pit["teamID"].values[:10]
# columns = ['yearID','teamID','franchID', 'Rank', 'G', 'Ghome','W','L','D', 'WSWin', 'RUN', 'AB', 'HIT', 'H2', 'H3', 'HR', 'BB', 'SO']
# df20 = pd.DataFrame(columns=columns)
# df20['teamID']=team
# franchID(df20)
# rank(df20,rank20)
# w,l,d = WLD(df2020_team_pit)
# df20['W'] = w
# df20['L'] = l
# df20['D'] = d
# df20['G'] = G20
# df20['Ghome'] =Ghome20
# df20['yearID']=2020
# wswin(df20, ws_list_20)
# run(df2020_team_bat, df20)
# ab(df2020_team_bat, df20)
# hit(df2020_team_bat, df20)
# h2(df2020_team_bat, df20)
# h3(df2020_team_bat, df20)
# hr(df2020_team_bat, df20)
# bb(df2020_team_pit, df20)
# kk(df2020_team_pit, df20)

In [ ]:
df16

In [ ]:
df17

In [ ]:
df18

In [ ]:
df19

In [ ]:
df = pd.concat([df16, df17, df18, df19])
# df = pd.concat([df16,df17,df18,df19,df20])
df = df.sort_values(by=['yearID', 'teamID'], ascending=True)
df.to_csv("preprocessing(2016-2019).csv", index= False, encoding='cp949')

In [ ]:
df2016_team_bat

In [ ]:
a = 436/87
a

In [ ]:
a = 442/94
a

In [ ]:
a = 427/91
a

In [ ]:
a = 442/94
a

In [ ]:
a = 412*9/785.2
a