## Data Split

In [14]:
import pandas as pd
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
df_x = pd.read_csv('preprocessing(2016-2019).csv')
# df_x

In [26]:
df_y = pd.read_csv('extract31g.csv')
df_y

    yearID teamID   W   L  D  WinRate
0     2016     HH  17  14  0    0.548
1     2016     HH  17  14  0    0.548
2     2016     KT  11  22  0    0.333
3     2016     LG  17  13  1    0.548
4     2016     LT  15  16  0    0.484
5     2016     NC  19  16  1    0.528
6     2016     OB  20   9  0    0.690
7     2016     SK  11  16  0    0.407
8     2016     SK  11  16  0    0.407
9     2016     WO  13  17  0    0.433
10    2017     HH  14  17  1    0.438
11    2017     HT  18  15  0    0.545
12    2017     KT  14  18  0    0.438
13    2017     LG  13  20  2    0.371
14    2017     LT  20   8  0    0.714
15    2017     NC  14  13  2    0.483
16    2017     OB  19  11  1    0.613
17    2017     SK  17  10  0    0.630
18    2017     SS  10  18  1    0.345
19    2017     WO   9  18  1    0.321
20    2018     HH  15  15  0    0.500
21    2018     HT  19  15  0    0.559
22    2018     KT  12  18  1    0.387
23    2018     LG  12  16  0    0.429
24    2018     LT  17  17  0    0.500
25    2018     NC  11  17  0    0.393
26    2018     OB  20  11  0    0.645
27    2018     SK  16  16  0    0.500
28    2018     SS  14  13  1    0.500
29    2018     WO  14  12  0    0.538
30    2019     HH  14  16  0    0.467
31    2019     HT  13  17  1    0.419
32    2019     KT  15  13  1    0.517
33    2019     LG  18  13  0    0.581
34    2019     LT   6  24  1    0.194
35    2019     NC  17  13  1    0.548
36    2019     OB  20   9  1    0.667
37    2019     SK  14  15  0    0.483
38    2019     SS  14  19  0    0.424
39    2019     WO  17   9  1    0.630

In [19]:
# plt.hist(df['W'])
# plt.xlabel('Wins')
# plt.title('Distribution of Wins')
# plt.show()

In [20]:
# df.corr()['W']

In [22]:
x_data = df_x.values[:, :]
x_data

array([[2016, 'HH', 'DJ', ..., 1, 23, 85],
       [2016, 'HT', 'GJ', ..., 1, 14, 96],
       [2016, 'KT', 'SW', ..., 1, 17, 92],
       ...,
       [2019, 'SK', 'IC', ..., 2, 6, 85],
       [2019, 'SS', 'DG', ..., 0, 6, 92],
       [2019, 'WO', 'SO', ..., 0, 9, 87]], dtype=object)