In [25]:
import pandas as pd
import numpy as np

In [26]:
data_team_pit_16 = pd.read_csv("../../datasets/2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그) (1)/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv")
data_team_pit_17 = pd.read_csv("../../datasets/2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그) (1)/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2017.csv")
data_team_pit_18 = pd.read_csv("../../datasets/2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그) (1)/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2018.csv")
data_team_pit_19 = pd.read_csv("../../datasets/2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그) (1)/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2019.csv")
data_team_pit_20 = pd.read_csv("../../datasets/2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그) (1)/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2020.csv")

In [27]:
data_team_pit_16

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,CG_CK,WLS,HOLD,INN2,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
0,20160401HHLG0,20160401,LG,HH,0,B,0,W,0,36,...,10,1,0,0,0,4,4,0.642857,1.285714,2.400000
1,20160401HHLG0,20160401,HH,LG,0,T,0,L,0,34,...,11,0,1,0,0,5,4,1.500000,1.000000,0.750000
2,20160401HTNC0,20160401,NC,HT,0,B,0,W,0,27,...,10,1,2,0,0,4,4,1.333333,1.038462,2.142857
3,20160401HTNC0,20160401,HT,NC,0,T,0,L,0,24,...,9,1,0,0,0,5,5,0.500000,1.695652,1.875000
4,20160401KTSK0,20160401,SK,KT,0,B,0,L,0,27,...,7,0,0,0,0,8,8,1.000000,2.357143,2.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,20161008SSSK0,20161008,SS,SK,0,T,0,L,0,24,...,9,1,0,0,0,7,6,1.500000,2.538462,1.666667
1436,20161009KTNC0,20161009,NC,KT,0,B,0,L,0,27,...,7,0,2,1,0,7,7,0.900000,2.217391,1.500000
1437,20161009KTNC0,20161009,KT,NC,0,T,0,W,1,27,...,13,0,0,0,1,4,3,0.562500,1.428571,1.090909
1438,20161009WOLT0,20161009,LT,WO,0,B,0,W,1,27,...,6,1,1,0,0,5,5,1.500000,1.500000,1.000000
1439,20161009WOLT0,20161009,WO,LT,0,T,0,L,0,24,...,4,2,1,0,0,8,4,2.250000,1.666667,3.000000

In [28]:
data_team_pit_16.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC', 'CG_CK',
       'WLS', 'HOLD', 'INN2', 'BF', 'PA', 'AB', 'HIT', 'H2', 'H3', 'HR', 'SB',
       'CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK', 'GD', 'WP', 'BK', 'ERR', 'R',
       'ER', 'P_WHIP_RT', 'P2_WHIP_RT', 'CB_WHIP_RT'],
      dtype='object')

In [29]:
columns = ['yearID', 'teamID', 'SV', 'IPOuts', 'HA', 'HRA', 'BBA', 'SOA', 'E', 'DP']
#  SV    세이브        S
#  IPOuts 아웃 개수    INN2
#  HA    안타허용      H
#  HRA    홈런허용     HR
#  BBA 볼넷허용        BB
#  SOA    탈삼진       KK
#  E    에러           ERR
#  DP    탈병살        GD

In [30]:
teamID = []
for i in data_team_pit_16['T_ID']:
    if i not in teamID:
        teamID.append(i)
teamID

['LG', 'HH', 'NC', 'HT', 'SK', 'KT', 'WO', 'LT', 'SS', 'OB']

In [37]:
IP16 = [0] * len(teamID)
for i in range(len(data_team_pit_16)):
    temp = data_team_pit_16['INN2'][i]
    cur = teamID.index(data_team_pit_16['T_ID'][i])
    IP16[cur] += temp
    
IP17 = [0] * len(teamID)
for i in range(len(data_team_pit_17)):
    temp = data_team_pit_17['INN2'][i]
    cur = teamID.index(data_team_pit_17['T_ID'][i])
    IP17[cur] += temp
    
IP18 = [0] * len(teamID)
for i in range(len(data_team_pit_18)):
    temp = data_team_pit_18['INN2'][i]
    cur = teamID.index(data_team_pit_18['T_ID'][i])
    IP18[cur] += temp
    
IP19 = [0] * len(teamID)
for i in range(len(data_team_pit_19)):
    temp = data_team_pit_19['INN2'][i]
    cur = teamID.index(data_team_pit_19['T_ID'][i])
    IP19[cur] += temp
    
IP20 = [0] * len(teamID)
for i in range(len(data_team_pit_20)):
    temp = data_team_pit_20['INN2'][i]
    cur = teamID.index(data_team_pit_20['T_ID'][i])
    IP20[cur] += temp
IP = IP16 + IP17 + IP18 + IP19 + IP20

In [36]:
dftest = pd.DataFrame({'teamID':teamID * 5,'IPOuts':IP})
dftest

   teamID  IPOuts
0      LG    3863
1      HH    3878
2      NC    3859
3      HT    3828
4      SK    3822
5      KT    3819
6      WO    3841
7      LT    3799
8      SS    3847
9      OB    3863
10     LG    3837
11     HH    3819
12     NC    3854
13     HT    3870
14     SK    3812
15     KT    3768
16     WO    3813
17     LT    3862
18     SS    3844
19     OB    3864
20     LG    3806
21     HH    3822
22     NC    3792
23     HT    3812
24     SK    3824
25     KT    3823
26     WO    3846
27     LT    3851
28     SS    3856
29     OB    3866
30     LG    3850
31     HH    3806
32     NC    3853
33     HT    3792
34     SK    3877
35     KT    3831
36     WO    3837
37     LT    3813
38     SS    3826
39     OB    3851
40     LG    1726
41     HH    1693
42     NC    1716
43     HT    1631
44     SK    1711
45     KT    1708
46     WO    1746
47     LT    1669
48     SS    1716
49     OB    1712

In [38]:
HA16 = [0] * len(teamID)
for i in range(len(data_team_pit_16)):
    temp = data_team_pit_16['HIT'][i]
    cur = teamID.index(data_team_pit_16['T_ID'][i])
    HA16[cur] += temp
    
HA17 = [0] * len(teamID)
for i in range(len(data_team_pit_17)):
    temp = data_team_pit_17['HIT'][i]
    cur = teamID.index(data_team_pit_17['T_ID'][i])
    HA17[cur] += temp
    
HA18 = [0] * len(teamID)
for i in range(len(data_team_pit_18)):
    temp = data_team_pit_18['HIT'][i]
    cur = teamID.index(data_team_pit_18['T_ID'][i])
    HA18[cur] += temp
    
HA19 = [0] * len(teamID)
for i in range(len(data_team_pit_19)):
    temp = data_team_pit_19['HIT'][i]
    cur = teamID.index(data_team_pit_19['T_ID'][i])
    HA19[cur] += temp
    
HA20 = [0] * len(teamID)
for i in range(len(data_team_pit_20)):
    temp = data_team_pit_20['HIT'][i]
    cur = teamID.index(data_team_pit_20['T_ID'][i])
    HA20[cur] += temp

HA = HA16 + HA17 + HA18 + HA19 + HA20

In [39]:
HRA16 = [0] * len(teamID)
for i in range(len(data_team_pit_16)):
    temp = data_team_pit_16['HR'][i]
    cur = teamID.index(data_team_pit_16['T_ID'][i])
    HRA16[cur] += temp

HRA17 = [0] * len(teamID)
for i in range(len(data_team_pit_17)):
    temp = data_team_pit_17['HR'][i]
    cur = teamID.index(data_team_pit_17['T_ID'][i])
    HRA17[cur] += temp
    
HRA18 = [0] * len(teamID)
for i in range(len(data_team_pit_18)):
    temp = data_team_pit_18['HR'][i]
    cur = teamID.index(data_team_pit_18['T_ID'][i])
    HRA18[cur] += temp
    
HRA19 = [0] * len(teamID)
for i in range(len(data_team_pit_19)):
    temp = data_team_pit_19['HR'][i]
    cur = teamID.index(data_team_pit_19['T_ID'][i])
    HRA19[cur] += temp
    
HRA20 = [0] * len(teamID)
for i in range(len(data_team_pit_20)):
    temp = data_team_pit_20['HR'][i]
    cur = teamID.index(data_team_pit_20['T_ID'][i])
    HRA20[cur] += temp
    
HRA = HRA16 + HRA17 + HRA18 + HRA19 + HRA20

In [40]:
BBA16 = [0] * len(teamID)
for i in range(len(data_team_pit_16)):
    temp = data_team_pit_16['BB'][i]
    cur = teamID.index(data_team_pit_16['T_ID'][i])
    BBA16[cur] += temp
    
BBA17 = [0] * len(teamID)
for i in range(len(data_team_pit_17)):
    temp = data_team_pit_17['BB'][i]
    cur = teamID.index(data_team_pit_17['T_ID'][i])
    BBA17[cur] += temp
    
BBA18 = [0] * len(teamID)
for i in range(len(data_team_pit_18)):
    temp = data_team_pit_18['BB'][i]
    cur = teamID.index(data_team_pit_18['T_ID'][i])
    BBA18[cur] += temp
    
BBA19 = [0] * len(teamID)
for i in range(len(data_team_pit_19)):
    temp = data_team_pit_19['BB'][i]
    cur = teamID.index(data_team_pit_19['T_ID'][i])
    BBA19[cur] += temp
    
BBA20 = [0] * len(teamID)
for i in range(len(data_team_pit_20)):
    temp = data_team_pit_20['BB'][i]
    cur = teamID.index(data_team_pit_20['T_ID'][i])
    BBA20[cur] += temp
    
BBA = BBA16 + BBA17 + BBA18 + BBA19 + BBA20

In [42]:
SOA16 = [0] * len(teamID)
for i in range(len(data_team_pit_16)):
    temp = data_team_pit_16['KK'][i]
    cur = teamID.index(data_team_pit_16['T_ID'][i])
    SOA16[cur] += temp

SOA17 = [0] * len(teamID)
for i in range(len(data_team_pit_17)):
    temp = data_team_pit_17['KK'][i]
    cur = teamID.index(data_team_pit_17['T_ID'][i])
    SOA17[cur] += temp
    
SOA18 = [0] * len(teamID)
for i in range(len(data_team_pit_18)):
    temp = data_team_pit_18['KK'][i]
    cur = teamID.index(data_team_pit_18['T_ID'][i])
    SOA18[cur] += temp
    
SOA19 = [0] * len(teamID)
for i in range(len(data_team_pit_19)):
    temp = data_team_pit_19['KK'][i]
    cur = teamID.index(data_team_pit_19['T_ID'][i])
    SOA19[cur] += temp
    
SOA20 = [0] * len(teamID)
for i in range(len(data_team_pit_20)):
    temp = data_team_pit_20['KK'][i]
    cur = teamID.index(data_team_pit_20['T_ID'][i])
    SOA20[cur] += temp
    
SOA = SOA16 + SOA17 + SOA18 + SOA19 + SOA20

In [43]:
data_team_bat_16 = pd.read_csv("../../datasets/2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그) (1)/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2016.csv")
data_team_bat_17 = pd.read_csv("../../datasets/2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그) (1)/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2017.csv")
data_team_bat_18 = pd.read_csv("../../datasets/2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그) (1)/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2018.csv")
data_team_bat_19 = pd.read_csv("../../datasets/2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그) (1)/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2019.csv")
data_team_bat_20 = pd.read_csv("../../datasets/2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그) (1)/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2020.csv")

In [44]:
E16 = [0] * len(teamID)
for i in range(len(data_team_pit_16)):
    temp = data_team_pit_16['ERR'][i] + data_team_bat_16['ERR'][i]
    cur = teamID.index(data_team_pit_16['T_ID'][i])
    E16[cur] += temp
    
E17 = [0] * len(teamID)
for i in range(len(data_team_pit_17)):
    temp = data_team_pit_17['ERR'][i] + data_team_bat_17['ERR'][i]
    cur = teamID.index(data_team_pit_17['T_ID'][i])
    E17[cur] += temp
    
E18 = [0] * len(teamID)
for i in range(len(data_team_pit_18)):
    temp = data_team_pit_18['ERR'][i] + data_team_bat_18['ERR'][i]
    cur = teamID.index(data_team_pit_18['T_ID'][i])
    E18[cur] += temp
    
E19 = [0] * len(teamID)
for i in range(len(data_team_pit_19)):
    temp = data_team_pit_19['ERR'][i] + data_team_bat_19['ERR'][i]
    cur = teamID.index(data_team_pit_19['T_ID'][i])
    E19[cur] += temp
    
E20 = [0] * len(teamID)
for i in range(len(data_team_pit_20)):
    temp = data_team_pit_20['ERR'][i] + data_team_bat_20['ERR'][i]
    cur = teamID.index(data_team_pit_20['T_ID'][i])
    E20[cur] += temp
    
E = E16 + E17 + E18 + E19 + E20

In [45]:
DP16 = [0] * len(teamID)
for i in range(len(data_team_pit_16)):
    temp = data_team_pit_16['GD'][i]
    cur = teamID.index(data_team_pit_16['T_ID'][i])
    DP16[cur] += temp
    
DP17 = [0] * len(teamID)
for i in range(len(data_team_pit_17)):
    temp = data_team_pit_17['GD'][i]
    cur = teamID.index(data_team_pit_17['T_ID'][i])
    DP17[cur] += temp

DP18 = [0] * len(teamID)
for i in range(len(data_team_pit_18)):
    temp = data_team_pit_18['GD'][i]
    cur = teamID.index(data_team_pit_18['T_ID'][i])
    DP16[cur] += temp
    
DP19 = [0] * len(teamID)
for i in range(len(data_team_pit_19)):
    temp = data_team_pit_19['GD'][i]
    cur = teamID.index(data_team_pit_19['T_ID'][i])
    DP19[cur] += temp
    
DP20 = [0] * len(teamID)
for i in range(len(data_team_pit_20)):
    temp = data_team_pit_20['GD'][i]
    cur = teamID.index(data_team_pit_20['T_ID'][i])
    DP20[cur] += temp
    
DP = DP16 + DP17 + DP18 + DP19 + DP20

In [46]:
data_per_pit_16 = pd.read_csv("../../datasets/2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그) (1)/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2016.csv")
data_per_pit_17 = pd.read_csv("../../datasets/2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그) (1)/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2017.csv")
data_per_pit_18 = pd.read_csv("../../datasets/2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그) (1)/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2018.csv")
data_per_pit_19 = pd.read_csv("../../datasets/2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그) (1)/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2019.csv")
data_per_pit_20 = pd.read_csv("../../datasets/2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그) (1)/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2020.csv")

In [47]:
data_per_pit_16['WLS']

0       W
1
2
3
4       L
       ..
6408
6409
6410
6411
6412
Name: WLS, Length: 6413, dtype: object

In [48]:
SV16 = [0] * len(teamID)
for i in range(len(data_per_pit_16)):
    temp = data_per_pit_16['WLS'][i]
    cur = teamID.index(data_per_pit_16['T_ID'][i])
    if temp == 'S':
        SV16[cur] += 1
        
SV17 = [0] * len(teamID)
for i in range(len(data_per_pit_17)):
    temp = data_per_pit_17['WLS'][i]
    cur = teamID.index(data_per_pit_17['T_ID'][i])
    if temp == 'S':
        SV17[cur] += 1
        
SV18 = [0] * len(teamID)
for i in range(len(data_per_pit_18)):
    temp = data_per_pit_18['WLS'][i]
    cur = teamID.index(data_per_pit_18['T_ID'][i])
    if temp == 'S':
        SV18[cur] += 1
        
SV19 = [0] * len(teamID)
for i in range(len(data_per_pit_19)):
    temp = data_per_pit_19['WLS'][i]
    cur = teamID.index(data_per_pit_19['T_ID'][i])
    if temp == 'S':
        SV19[cur] += 1
        
SV20 = [0] * len(teamID)
for i in range(len(data_per_pit_20)):
    temp = data_per_pit_20['WLS'][i]
    cur = teamID.index(data_per_pit_20['T_ID'][i])
    if temp == 'S':
        SV20[cur] += 1
        
SV = SV16 + SV17 + SV18 + SV19 + SV20

In [50]:
yearID16 = [2016] * len(teamID)
yearID17 = [2017] * len(teamID)
yearID18 = [2018] * len(teamID)
yearID19 = [2019] * len(teamID)
yearID20 = [2020] * len(teamID)

yearID = yearID16 + yearID17 + yearID18 + yearID19 + yearID20

In [51]:
df = pd.DataFrame({'yearID':yearID, 'teamID':teamID * 5, 'SV':SV, 'IPOuts':IP, 
                   'HA':HA, 'HRA':HRA, 'BBA':BBA, 'SOA':SOA, 'E':E,
                   'DP':DP})
df

    yearID teamID  SV  IPOuts    HA  HRA  BBA   SOA    E   DP
0     2016     LG  34    3863  1426  122  539   909  103  217
1     2016     HH  24    3878  1520  155  634   976  124  229
2     2016     NC  36    3859  1314  137  516  1147  100  221
3     2016     HT  38    3828  1456  131  561   965  111  219
4     2016     SK  31    3822  1386  151  527   945  123  234
5     2016     KT  27    3819  1593  145  560   980  130  264
6     2016     WO  38    3841  1487  152  435   895   94  223
7     2016     LT  27    3799  1486  161  585  1009   91  229
8     2016     SS  34    3847  1507  193  518   935   90  213
9     2016     OB  36    3863  1385  136  498   982   79  261
10    2017     LG  32    3837  1305  124  379  1040  103  105
11    2017     HH  31    3819  1474  166  446   914   91  127
12    2017     NC  32    3854  1342  169  470  1097  108  116
13    2017     HT  33    3870  1518  137  434   985   98  130
14    2017     SK  30    3812  1443  154  481   940  108  125
15    2017     KT  22    3768  1524  174  433   913  112  117
16    2017     WO  40    3813  1488  149  388  1005   91  105
17    2017     LT  39    3862  1357  162  477  1096   86  112
18    2017     SS  27    3844  1541  187  548  1063   95  128
19    2017     OB  35    3864  1405  125  464   956   90  113
20    2018     LG  29    3806  1434  159  453  1058  100    0
21    2018     HH  37    3822  1394  164  472  1124   99    0
22    2018     NC  24    3792  1443  186  537  1010  107    0
23    2018     HT  26    3812  1511  181  445  1017   94    0
24    2018     SK  29    3824  1353  189  425  1130  116    0
25    2018     KT  24    3823  1580  194  409  1025   99    0
26    2018     WO  32    3846  1442  178  416  1021  106    0
27    2018     LT  29    3851  1410  166  548  1164  117    0
28    2018     SS  33    3856  1477  185  441  1114   79    0
29    2018     OB  41    3866  1401  154  476  1025   77    0
30    2019     LG  43    3850  1257   89  499   953  107  115
31    2019     HH  28    3806  1407  120  526   934   96  126
32    2019     NC  32    3853  1285  103  483   991  102  108
33    2019     HT  30    3792  1362  101  504   976  102  107
34    2019     SK  51    3877  1240   99  436  1092  105  108
35    2019     KT  37    3831  1303  118  481   848   96  114
36    2019     WO  39    3837  1293   61  371   984   94  109
37    2019     LT  16    3813  1407  120  546  1033  106  110
38    2019     SS  29    3826  1332  125  523   924   90  114
39    2019     OB  44    3851  1259   78  380   860   98  111
40    2020     LG  13    1726   625   60  204   451   38   58
41    2020     HH   7    1693   666   78  259   490   56   41
42    2020     NC  15    1716   535   66  227   463   30   50
43    2020     HT  13    1631   555   48  189   460   41   66
44    2020     SK  10    1711   597   59  272   447   46   53
45    2020     KT  11    1708   628   64  225   371   42   59
46    2020     WO  17    1746   636   67  182   425   47   62
47    2020     LT  10    1669   578   72  199   421   33   45
48    2020     SS  13    1716   576   69  239   401   43   57
49    2020     OB  15    1712   655   48  213   423   40   48

In [52]:
df = df.sort_values(by=['yearID', 'teamID'], ascending=True)
df.to_csv('first.csv', index = False, encoding = 'cp949')

In [19]:
#  SV    세이브        S
#  IPOuts 아웃 개수    INN2
#  HA    안타허용      H
#  HRA    홈런허용     HR
#  BBA 볼넷허용        BB
#  SOA    탈삼진       KK
#  E    에러           ERR
#  DP    탈병살        GD

In [22]:
W_count, L_count, D_count = 0, 0, 0
dictout = {}
for i in range(len(data['T_ID'])):
    temp = data['T_ID'][i]
    if temp not in dictout:
        dictout[temp] = [0, 0, 0]
        
    if data['WLS'][i] == 'W':
        dictout[temp][0] += 1
        
    elif data['WLS'][i] == 'D':
        dictout[temp][1] += 1
        
    elif data['WLS'][i] == 'L':
        dictout[temp][2] += 1

NameError: name 'data' is not defined

In [ ]:
dictout

In [ ]:
data_per_pit_16 = pd.read_csv("../../datasets/2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그) (1)/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2016.csv"")

In [ ]:
dictHL = {}
for i in range(len(data_hit['T_ID'])):
    temp = data_hit['T_ID'][i]
    if temp not in dictHL:
        dictHL[temp] = [0, 0]
    dictHL[temp][0] += data_hit['RUN'][i]

for i in range(len(data['T_ID'])):
    temp = data['T_ID'][i]
    
    dictHL[temp][1] += data['R'][i]

In [ ]:
dictHL

In [ ]:
dic = {}
dic['a'] = [1]
dic['a'].append(2)

dic['a'][0] += 1
dic

In [ ]:
df = df.sort_values(by=['yearID', 'teamID'], ascending=True)
df.to_csv('first.csv', index = False, encoding = 'cp949')