In [1]:
import pandas as pd

# 2019 Split

In [2]:
df = pd.read_excel('3. SplitedDatasets/Original/2019_TotalData.xlsx')
df

,yearID,T_ID,gameNO,GDAY_DS,VS_T_ID,HEADER_NO,TB_SC,CG_CK,HOLD,INN2,...,IB_B,HP_B,KK_B,GD_B,ERR_B,LOB_B,P_HRA_RT_B,P_AB_CN_B,P_HIT_CN_B,WLS
0,2019,HH,1,20190323,OB,0,T,0,0,24,...,0,1,7,2,1,11,0.200000,10,2,L
1,2019,HH,2,20190324,OB,0,T,0,0,27,...,0,0,11,1,0,5,0.500000,10,5,W
2,2019,HH,3,20190326,HT,0,T,0,1,27,...,0,1,7,3,2,6,0.538462,13,7,W
3,2019,HH,4,20190327,HT,0,T,0,0,24,...,0,0,7,1,0,9,0.100000,10,1,L
4,2019,HH,5,20190328,HT,0,T,0,0,24,...,0,0,10,0,0,2,0.500000,4,2,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,2019,WO,140,20190917,HH,0,T,0,0,24,...,0,1,12,0,1,4,0.000000,1,0,L
1436,2019,WO,141,20190920,SK,0,T,0,1,27,...,0,2,7,2,1,7,0.200000,10,2,W
1437,2019,WO,142,20190924,HT,0,T,0,0,24,...,0,0,8,2,0,8,0.142857,7,1,L
1438,2019,WO,143,20190929,LT,0,T,0,2,27,...,0,2,4,0,0,6,0.300000,10,3,W
1439,2019,WO,144,20191001,LT,0,T,0,5,27,...,0,0,9,1,0,8,0.300000,10,3,W

In [3]:
del_list_post=[]; del_list_pre=[];
for i in range(len(df)):
    if df['gameNO'][i]>113:
        del_list_post.append(i)
    else:
        del_list_pre.append(i)

In [4]:
df_pre = df.drop(del_list_post)
df_pre

,yearID,T_ID,gameNO,GDAY_DS,VS_T_ID,HEADER_NO,TB_SC,CG_CK,HOLD,INN2,...,IB_B,HP_B,KK_B,GD_B,ERR_B,LOB_B,P_HRA_RT_B,P_AB_CN_B,P_HIT_CN_B,WLS
0,2019,HH,1,20190323,OB,0,T,0,0,24,...,0,1,7,2,1,11,0.200000,10,2,L
1,2019,HH,2,20190324,OB,0,T,0,0,27,...,0,0,11,1,0,5,0.500000,10,5,W
2,2019,HH,3,20190326,HT,0,T,0,1,27,...,0,1,7,3,2,6,0.538462,13,7,W
3,2019,HH,4,20190327,HT,0,T,0,0,24,...,0,0,7,1,0,9,0.100000,10,1,L
4,2019,HH,5,20190328,HT,0,T,0,0,24,...,0,0,10,0,0,2,0.500000,4,2,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404,2019,WO,109,20190809,SK,0,B,0,0,27,...,0,1,9,0,0,15,0.400000,10,4,W
1405,2019,WO,110,20190810,OB,0,B,0,0,27,...,0,3,2,1,0,10,0.411765,17,7,W
1406,2019,WO,111,20190811,OB,0,B,0,0,27,...,0,0,3,2,1,7,0.400000,5,2,L
1407,2019,WO,112,20190813,LG,0,T,0,0,25,...,0,0,4,2,0,7,0.363636,11,4,L
1408,2019,WO,113,20190814,LG,0,T,0,0,27,...,0,2,3,2,0,6,0.545455,11,6,W

In [5]:
df_post = df.drop(del_list_pre)
df_post

,yearID,T_ID,gameNO,GDAY_DS,VS_T_ID,HEADER_NO,TB_SC,CG_CK,HOLD,INN2,...,IB_B,HP_B,KK_B,GD_B,ERR_B,LOB_B,P_HRA_RT_B,P_AB_CN_B,P_HIT_CN_B,WLS
113,2019,HH,114,20190818,WO,0,T,0,1,27,...,0,2,6,0,0,7,0.250000,8,2,W
114,2019,HH,115,20190820,SS,0,B,0,0,27,...,0,0,12,0,0,4,0.000000,3,0,L
115,2019,HH,116,20190822,SK,0,T,0,1,24,...,0,2,5,0,3,9,0.272727,11,3,L
116,2019,HH,117,20190823,SK,0,T,0,0,24,...,0,0,7,1,1,8,0.250000,8,2,L
117,2019,HH,118,20190824,OB,0,B,0,0,27,...,0,0,4,2,3,6,0.125000,8,1,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,2019,WO,140,20190917,HH,0,T,0,0,24,...,0,1,12,0,1,4,0.000000,1,0,L
1436,2019,WO,141,20190920,SK,0,T,0,1,27,...,0,2,7,2,1,7,0.200000,10,2,W
1437,2019,WO,142,20190924,HT,0,T,0,0,24,...,0,0,8,2,0,8,0.142857,7,1,L
1438,2019,WO,143,20190929,LT,0,T,0,2,27,...,0,2,4,0,0,6,0.300000,10,3,W
1439,2019,WO,144,20191001,LT,0,T,0,5,27,...,0,0,9,1,0,8,0.300000,10,3,W

In [6]:
df_pre.to_csv('3. SplitedDatasets/2019_pre.csv', index = False, encoding = 'cp949')
df_post.to_csv('3. SplitedDatasets/2019_post.csv', index = False, encoding = 'cp949')

# 2018 Split

In [7]:
df = pd.read_excel('3. SplitedDatasets/Original/2018_TotalData.xlsx')
df

,yearID,T_ID,gameNO,GDAY_DS,VS_T_ID,HEADER_NO,TB_SC,CG_CK,HOLD,INN2,...,IB_B,HP_B,KK_B,GD_B,ERR_B,LOB_B,P_HRA_RT_B,P_AB_CN_B,P_HIT_CN_B,WLS
0,2018,HH,1,20180324,WO,0,T,0,0,24,...,0,0,9,0,1,8,0.230769,13,3,L
1,2018,HH,2,20180325,WO,0,T,0,1,27,...,0,2,9,1,0,8,0.272727,11,3,W
2,2018,HH,3,20180327,NC,0,T,0,0,24,...,0,2,6,2,1,8,0.400000,5,2,L
3,2018,HH,4,20180328,NC,0,T,0,0,27,...,0,0,5,0,0,8,0.500000,8,4,W
4,2018,HH,5,20180329,NC,0,T,0,3,24,...,0,0,4,1,2,7,0.166667,6,1,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,2018,WO,140,20180929,NC,0,B,0,0,27,...,1,0,10,0,2,6,0.250000,8,2,W
1436,2018,WO,141,20180930,NC,0,B,0,0,27,...,0,0,10,0,0,2,0.600000,5,3,W
1437,2018,WO,142,20181006,NC,0,T,0,2,25,...,0,1,11,1,0,9,0.230769,13,3,L
1438,2018,WO,143,20181012,KT,0,T,0,2,27,...,0,0,7,0,2,6,0.454545,11,5,W
1439,2018,WO,144,20181013,SS,0,T,0,0,24,...,0,0,6,1,0,6,0.400000,5,2,L

In [8]:
del_list_post=[]; del_list_pre=[];
for i in range(len(df)):
    if df['gameNO'][i]>113:
        del_list_post.append(i)
    else:
        del_list_pre.append(i)

In [9]:
df_pre = df.drop(del_list_post)
df_pre

,yearID,T_ID,gameNO,GDAY_DS,VS_T_ID,HEADER_NO,TB_SC,CG_CK,HOLD,INN2,...,IB_B,HP_B,KK_B,GD_B,ERR_B,LOB_B,P_HRA_RT_B,P_AB_CN_B,P_HIT_CN_B,WLS
0,2018,HH,1,20180324,WO,0,T,0,0,24,...,0,0,9,0,1,8,0.230769,13,3,L
1,2018,HH,2,20180325,WO,0,T,0,1,27,...,0,2,9,1,0,8,0.272727,11,3,W
2,2018,HH,3,20180327,NC,0,T,0,0,24,...,0,2,6,2,1,8,0.400000,5,2,L
3,2018,HH,4,20180328,NC,0,T,0,0,27,...,0,0,5,0,0,8,0.500000,8,4,W
4,2018,HH,5,20180329,NC,0,T,0,3,24,...,0,0,4,1,2,7,0.166667,6,1,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404,2018,WO,109,20180805,KT,0,T,0,0,27,...,0,2,5,1,0,10,0.473684,19,9,W
1405,2018,WO,110,20180807,HT,0,B,0,1,27,...,0,0,8,0,0,9,0.388889,18,7,W
1406,2018,WO,111,20180808,HT,0,B,0,0,30,...,1,0,5,0,1,10,0.333333,12,4,W
1407,2018,WO,112,20180809,HH,0,T,0,0,27,...,0,0,4,2,1,11,0.500000,26,13,W
1408,2018,WO,113,20180810,HH,0,T,0,1,27,...,0,0,10,0,0,9,0.294118,17,5,W

In [10]:
df_post = df.drop(del_list_pre)
df_post

,yearID,T_ID,gameNO,GDAY_DS,VS_T_ID,HEADER_NO,TB_SC,CG_CK,HOLD,INN2,...,IB_B,HP_B,KK_B,GD_B,ERR_B,LOB_B,P_HRA_RT_B,P_AB_CN_B,P_HIT_CN_B,WLS
113,2018,HH,114,20180816,SS,0,T,0,0,24,...,0,0,9,1,2,3,0.250000,4,1,L
114,2018,HH,115,20180904,LT,0,B,0,2,27,...,1,1,11,0,1,11,0.157895,19,3,W
115,2018,HH,116,20180905,LT,0,B,0,2,27,...,0,2,5,0,0,8,0.357143,14,5,W
116,2018,HH,117,20180906,KT,0,T,0,0,27,...,0,0,8,1,0,15,0.333333,24,8,W
117,2018,HH,118,20180907,KT,0,T,0,0,24,...,0,0,10,0,1,9,0.125000,8,1,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,2018,WO,140,20180929,NC,0,B,0,0,27,...,1,0,10,0,2,6,0.250000,8,2,W
1436,2018,WO,141,20180930,NC,0,B,0,0,27,...,0,0,10,0,0,2,0.600000,5,3,W
1437,2018,WO,142,20181006,NC,0,T,0,2,25,...,0,1,11,1,0,9,0.230769,13,3,L
1438,2018,WO,143,20181012,KT,0,T,0,2,27,...,0,0,7,0,2,6,0.454545,11,5,W
1439,2018,WO,144,20181013,SS,0,T,0,0,24,...,0,0,6,1,0,6,0.400000,5,2,L

In [11]:
df_pre.to_csv('3. SplitedDatasets/2018_pre.csv', index = False, encoding = 'cp949')
df_post.to_csv('3. SplitedDatasets/2018_post.csv', index = False, encoding = 'cp949')

# 2017 Split

In [12]:
df = pd.read_excel('3. SplitedDatasets/Original/2017_TotalData.xlsx')
df

,yearID,T_ID,gameNO,GDAY_DS,VS_T_ID,HEADER_NO,TB_SC,CG_CK,HOLD,INN2,...,IB_B,HP_B,KK_B,GD_B,ERR_B,LOB_B,P_HRA_RT_B,P_AB_CN_B,P_HIT_CN_B,WLS
0,2017,HH,1,20170331,OB,0,T,0,0,24,...,0,0,8,0,4,6,0.000000,4,0,L
1,2017,HH,2,20170401,OB,0,T,0,0,33,...,1,0,8,0,1,15,0.150000,20,3,W
2,2017,HH,3,20170402,OB,0,T,0,0,34,...,0,3,9,0,2,14,0.181818,11,2,L
3,2017,HH,4,20170404,NC,0,B,0,0,27,...,0,2,5,2,1,7,0.250000,12,3,W
4,2017,HH,5,20170406,NC,0,B,0,0,27,...,0,2,7,2,1,8,0.142857,7,1,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,2017,WO,140,20170921,KT,0,T,0,0,27,...,0,1,4,2,0,9,0.250000,12,3,W
1436,2017,WO,141,20170923,LT,0,T,0,0,24,...,0,0,5,0,1,6,0.166667,6,1,L
1437,2017,WO,142,20170929,NC,0,T,0,0,24,...,0,0,6,0,1,11,0.333333,9,3,L
1438,2017,WO,143,20170930,NC,0,T,0,0,24,...,0,0,7,1,2,4,0.200000,5,1,L
1439,2017,WO,144,20171003,SS,0,T,0,0,24,...,0,0,12,1,2,9,0.307692,13,4,L

In [13]:
del_list_post=[]; del_list_pre=[];
for i in range(len(df)):
    if df['gameNO'][i]>113:
        del_list_post.append(i)
    else:
        del_list_pre.append(i)

In [14]:
df_pre = df.drop(del_list_post)
df_pre

,yearID,T_ID,gameNO,GDAY_DS,VS_T_ID,HEADER_NO,TB_SC,CG_CK,HOLD,INN2,...,IB_B,HP_B,KK_B,GD_B,ERR_B,LOB_B,P_HRA_RT_B,P_AB_CN_B,P_HIT_CN_B,WLS
0,2017,HH,1,20170331,OB,0,T,0,0,24,...,0,0,8,0,4,6,0.000000,4,0,L
1,2017,HH,2,20170401,OB,0,T,0,0,33,...,1,0,8,0,1,15,0.150000,20,3,W
2,2017,HH,3,20170402,OB,0,T,0,0,34,...,0,3,9,0,2,14,0.181818,11,2,L
3,2017,HH,4,20170404,NC,0,B,0,0,27,...,0,2,5,2,1,7,0.250000,12,3,W
4,2017,HH,5,20170406,NC,0,B,0,0,27,...,0,2,7,2,1,8,0.142857,7,1,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404,2017,WO,109,20170812,HH,0,B,0,0,27,...,0,0,6,2,2,7,0.000000,7,0,L
1405,2017,WO,110,20170813,HH,0,B,0,0,27,...,0,2,5,1,0,9,0.235294,17,4,W
1406,2017,WO,111,20170816,SS,0,T,0,3,27,...,0,2,11,0,1,17,0.210526,19,4,W
1407,2017,WO,112,20170817,LT,0,B,0,0,27,...,0,1,10,0,1,9,0.181818,11,2,L
1408,2017,WO,113,20170818,LT,0,B,0,2,36,...,0,0,11,1,0,11,0.235294,17,4,L

In [15]:
df_post = df.drop(del_list_pre)
df_post

,yearID,T_ID,gameNO,GDAY_DS,VS_T_ID,HEADER_NO,TB_SC,CG_CK,HOLD,INN2,...,IB_B,HP_B,KK_B,GD_B,ERR_B,LOB_B,P_HRA_RT_B,P_AB_CN_B,P_HIT_CN_B,WLS
113,2017,HH,114,20170825,HT,0,B,0,0,27,...,1,1,6,0,1,8,0.250000,8,2,W
114,2017,HH,115,20170826,SK,0,T,0,0,24,...,0,2,9,0,0,6,0.000000,4,0,L
115,2017,HH,116,20170827,SK,0,T,0,0,24,...,0,0,8,0,3,4,0.200000,5,1,L
116,2017,HH,117,20170829,LG,0,B,0,1,27,...,0,0,6,1,0,9,0.416667,12,5,W
117,2017,HH,118,20170830,LG,0,B,0,1,27,...,0,0,11,0,1,10,0.200000,15,3,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,2017,WO,140,20170921,KT,0,T,0,0,27,...,0,1,4,2,0,9,0.250000,12,3,W
1436,2017,WO,141,20170923,LT,0,T,0,0,24,...,0,0,5,0,1,6,0.166667,6,1,L
1437,2017,WO,142,20170929,NC,0,T,0,0,24,...,0,0,6,0,1,11,0.333333,9,3,L
1438,2017,WO,143,20170930,NC,0,T,0,0,24,...,0,0,7,1,2,4,0.200000,5,1,L
1439,2017,WO,144,20171003,SS,0,T,0,0,24,...,0,0,12,1,2,9,0.307692,13,4,L

In [16]:
df_pre.to_csv('3. SplitedDatasets/2017_pre.csv', index = False, encoding = 'cp949')
df_post.to_csv('3. SplitedDatasets/2017_post.csv', index = False, encoding = 'cp949')

# 2016 Split

In [17]:
df = pd.read_excel('3. SplitedDatasets/Original/2016_TotalData.xlsx')
df

,yearID,T_ID,gameNO,GDAY_DS,VS_T_ID,HEADER_NO,TB_SC,CG_CK,HOLD,INN2,...,IB_B,HP_B,KK_B,GD_B,ERR_B,LOB_B,P_HRA_RT_B,P_AB_CN_B,P_HIT_CN_B,WLS
0,2016,HH,1,20160401,LG,0,T,0,0,34,...,0,0,10,1,2,12,0.200000,15,3,L
1,2016,HH,2,20160402,LG,0,T,0,0,30,...,1,2,9,0,1,10,0.333333,15,5,L
2,2016,HH,3,20160405,WO,0,B,0,0,27,...,0,1,1,1,1,8,0.428571,14,6,W
3,2016,HH,4,20160406,WO,0,B,0,0,27,...,0,0,5,1,0,5,0.222222,9,2,L
4,2016,HH,5,20160407,WO,0,B,0,0,27,...,0,1,10,0,1,10,0.181818,11,2,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,2016,WO,140,20161002,HH,0,T,0,2,27,...,0,0,11,1,1,10,0.200000,10,2,W
1436,2016,WO,141,20161004,NC,0,T,0,0,30,...,0,0,8,0,0,4,0.250000,4,1,W
1437,2016,WO,142,20161005,NC,0,T,0,0,24,...,0,0,7,1,0,4,0.333333,3,1,L
1438,2016,WO,143,20161007,LT,0,T,0,0,24,...,0,3,10,0,0,7,0.000000,3,0,L
1439,2016,WO,144,20161009,LT,0,T,0,0,24,...,0,0,6,1,3,6,0.428571,7,3,L

In [18]:
del_list_post=[]; del_list_pre=[];
for i in range(len(df)):
    if df['gameNO'][i]>113:
        del_list_post.append(i)
    else:
        del_list_pre.append(i)

In [19]:
df_pre = df.drop(del_list_post)
df_pre

,yearID,T_ID,gameNO,GDAY_DS,VS_T_ID,HEADER_NO,TB_SC,CG_CK,HOLD,INN2,...,IB_B,HP_B,KK_B,GD_B,ERR_B,LOB_B,P_HRA_RT_B,P_AB_CN_B,P_HIT_CN_B,WLS
0,2016,HH,1,20160401,LG,0,T,0,0,34,...,0,0,10,1,2,12,0.200000,15,3,L
1,2016,HH,2,20160402,LG,0,T,0,0,30,...,1,2,9,0,1,10,0.333333,15,5,L
2,2016,HH,3,20160405,WO,0,B,0,0,27,...,0,1,1,1,1,8,0.428571,14,6,W
3,2016,HH,4,20160406,WO,0,B,0,0,27,...,0,0,5,1,0,5,0.222222,9,2,L
4,2016,HH,5,20160407,WO,0,B,0,0,27,...,0,1,10,0,1,10,0.181818,11,2,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404,2016,WO,109,20160818,NC,0,B,0,0,27,...,0,0,3,1,0,9,0.444444,9,4,W
1405,2016,WO,110,20160819,NC,0,B,0,0,27,...,0,0,3,1,0,5,0.000000,2,0,L
1406,2016,WO,111,20160820,SS,0,B,0,2,27,...,0,0,3,1,0,8,0.250000,12,3,W
1407,2016,WO,112,20160821,SS,0,B,0,0,27,...,0,0,7,1,0,4,0.125000,8,1,W
1408,2016,WO,113,20160824,HH,0,T,0,0,27,...,0,0,4,1,0,10,0.125000,8,1,W

In [20]:
df_post = df.drop(del_list_pre)
df_post

,yearID,T_ID,gameNO,GDAY_DS,VS_T_ID,HEADER_NO,TB_SC,CG_CK,HOLD,INN2,...,IB_B,HP_B,KK_B,GD_B,ERR_B,LOB_B,P_HRA_RT_B,P_AB_CN_B,P_HIT_CN_B,WLS
113,2016,HH,114,20160826,NC,0,B,0,1,27,...,0,0,9,0,2,6,0.571429,7,4,W
114,2016,HH,115,20160827,SK,0,T,0,0,27,...,0,1,8,0,1,4,0.466667,15,7,W
115,2016,HH,116,20160828,SK,0,T,0,0,27,...,0,0,6,0,0,6,0.272727,11,3,W
116,2016,HH,117,20160830,OB,0,T,0,0,24,...,0,1,9,2,1,9,0.166667,12,2,L
117,2016,HH,118,20160901,LG,0,B,0,0,27,...,0,2,9,1,1,5,0.400000,5,2,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,2016,WO,140,20161002,HH,0,T,0,2,27,...,0,0,11,1,1,10,0.200000,10,2,W
1436,2016,WO,141,20161004,NC,0,T,0,0,30,...,0,0,8,0,0,4,0.250000,4,1,W
1437,2016,WO,142,20161005,NC,0,T,0,0,24,...,0,0,7,1,0,4,0.333333,3,1,L
1438,2016,WO,143,20161007,LT,0,T,0,0,24,...,0,3,10,0,0,7,0.000000,3,0,L
1439,2016,WO,144,20161009,LT,0,T,0,0,24,...,0,0,6,1,3,6,0.428571,7,3,L

In [21]:
df_pre.to_csv('3. SplitedDatasets/2016_pre.csv', index = False, encoding = 'cp949')
df_post.to_csv('3. SplitedDatasets/2016_post.csv', index = False, encoding = 'cp949')